<extend name="Public:base" />
<block name="js"></block>
<block name="body">
    <div class="common-part1">
        <div class="wrap1">
            <div class="common-top-bg">
                <img src="/Public/Home/images/user/top_bg.png" alt="">
            </div>
        </div>
        <div class="wrap2">
            <div class="intro-pt1-ct padding-7-8">
                <div class="common-pt1-ct-pt1">
                    <p>新闻资讯</p>
                    <img class="p-line" src="/Public/Home/images/Student/line.jpg" alt="">
                    <p>News information</p>
                </div>
                <div class="intro-pt1-ct-pt2">
                    <div class="content-pt1-ct-pt2-header">
                        <div class="content-content-pt1-ct-pt2-header-top">
                            <p>温网夺冠赔率：费德勒十拿九稳 西里奇或赢1盘</p>
                            <a href="javascript:history.go(-1)"><img src="/Public/Home/images/news/back.png" alt="">返回列表</a>
                        </div>
                        <div class="content-pt1-ct-pt2-header-bottom">
                            <span>2017年07月15日09:04</span>
                        </div>
                    </div>
                    <div class="content-pt1-ct-pt2-content">
                        网球运动最原始的形式被称为室内网球（Real tennis）。大多数历史学家认为，这一运动最早起源于12世纪法国北部传教士在教堂回廊里用手掌击球的一种游戏。[1]  到了14世纪中叶，法国的一位诗人把这种球类游戏介绍到法国宫廷中，作为皇室贵族男女的消遣。[2]  当时玩这种游戏，场地是宫廷内的大厅，没有网也没有球拍，球是用布卷成圆形后用绳子绑成的。场地中间架起一条绳子为界，利用两手作球拍，把球从绳上丢来丢去，法语叫作Tenez，英语叫作“Take it！Play”，意即：“抓住！丢过去”，今天“网球”（Tennis）一语即来源于此。到了16世纪，木板的球拍被用来代替两手拍球。最初的网球，只是两个半球填充草、树叶或头发等制成的，后来随着网球的不断发展，球的制作也越来越讲究。
                        16世纪初，这项球类游戏被法国国民发现，出于好奇心开始仿效，很快地传播到各大城市，同时改良了用具。球制造得比较耐用，拍子由木板改为羊皮纸板，拍面面积放大，握把的柄也加长。场地中间的绳子，增加无数短绳子向地面垂下，球从绳子下面经过时，可以明显地发觉。后来被法国国王路易斯下令禁止，并规定这是宫廷中的特权游戏。
                        17世纪初，场地中间不再用绳帘，而改用小方格网子，网比帘的作用更好，拍子改用穿线的网拍，富有弹性而且轻巧方便。在法国宫廷中作这种游戏时，球场旁边放置一只金色容器，每次比赛完毕后，观众将金钱投入盘中，作为胜利者的奖品。这种方法起初的用意很好，后来渐渐演变成为一种赌博。开始时数目尚小，久而久之越赌越大，甚至有人因此倾家荡产，于是纠纷迭起，法国国王遂下令禁止再作此种游戏，这就是18世纪初期网球衰败的主要原因。
                        现代网球运动的历史一般是从1873年开始的。那年，英国人沃尔特·克洛普顿·温菲尔德将早期的网球打法加以改进，使之成为夏天在草坪上进行的一种体育活动，并取名“草地网球”。同年还出版了一本以《草地网球》为题的小册子，对这种活动进行宣传和推广。所以温菲尔德被称为“近代网球的创始人”。此后网球便成为一项室内、户外都能进行的体育项目。同时在英国各地建立网球运动俱乐部。1875年又建立了全英网球运动俱乐部。这个俱乐部建造了世界上的第一个网球场地，并于1877年举办了全英草地网球男子单打锦标赛，即后来闻名于世的温布尔登网球赛。
                        网球运动的广泛开展和比赛活动的日益频繁，没有统一的规则当然是不行的。于是在1876年，由一些地区的著名网球运动俱乐部派出代表，一起开会研究和讨论制定一个全英统一的网球规则。经过多次协商，各方代表终于对网球运动的场地、设备、打法和比赛等方面取得了一致的意见，并形成了一个统一的规则。大约在1878年以后，英国大多数网球俱乐部都逐渐按照新的打法开展活动，进行训练和比赛。
                        网球运动的广泛开展和比赛活动的日益频繁，没有统一的规则当然是不行的。于是在1876年，由一些地区的著名网球运动俱乐部派出代表，一起开会研究和讨论制定一个全英统一的网球规则。经过多次协商，各方代表终于对网球运动的场地、设备、打法和比赛等方面取得了一致的意见，并形成了一个统一的规则。大约在1878年以后，英国大多数网球俱乐部都逐渐按照新的打法开展活动，进行训练和比赛。
                    </div>
                    <div class="content-pt1-ct-pt2-footer">
                        <a href="javascript:history.go(-1)">返回列表</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>