<extend name="Public:base1" />
<block name="js"></block>
<block name="body">
    <div class="News-pt1-ct padding-0-8">
        <div class="News-pt1-ct-pt2">
            <div class="News-pt1-ct-pt2-content">
                <ul>
                    <volist name="list" id="vo">
                        <li><a href="/Home/News/content?nid={$vo.nid}">{$vo.main_title}</a>
                            <span>[{:date('Y-m-d',$vo['create_time'])}]</span>
                        </li>
                    </volist>
                </ul>
            </div>

        </div>
        <div class="News-pt1-ct-pt3">
            <!--分页-->
            <div class="am-cf">
                <div class="am-fr">
                    <ul class="am-pagination tpl-pagination">
                        {$page}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>