<extend name="Public:base1" />
<block name="js">
<script src="/Public/Home/js/ajaxQuery.js"></script>
<script src="/Public/Home/js/formValidation.js"></script>
<script type="text/javascript">  

var InterValObj; //timer变量，控制时间  
var count = 90; //间隔函数，1秒执行  
var curCount;//当前剩余秒数  
  
function sendMessage() {  
	// 判断数据是否为空
     var mobile = $("input[name='phone']").val();

     if(mobile == ""){
         showAlertDiv("手机号码不能为空！","style1");
     }
	
  　curCount = count;  
　　//设置button效果，开始计时  
     $("#btnSendCode").attr("disabled", "true");  
     $("#btnSendCode").val(curCount + " S");  
     InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
　　  //向后台发送处理数据  
     
     $.ajax({  
	     　　type: "POST", //用POST方式传输  
	     　　dataType: "json", //数据格式:JSON  
	     　　url: '/Admin/Live/sendSMS', //目标地址  
	    　　 data: {mobile:mobile},  
	    　　 error: function (XMLHttpRequest, textStatus, errorThrown) { },  
	     　　success: function (msg){ 
	    	 	 console.log(msg);
	    	 	/*  console.log(msg.smsCode); */
		    	 /* if(msg.code == 0){ */
		    		 $("input[name='check']").val(msg.smsCode);
		    	 /* } */
	     　　}  
     });  
}  

	//timer处理函数  
	function SetRemainTime() {  
        if (curCount == 0) {                  
            window.clearInterval(InterValObj);//停止计时器  
            $("#btnSendCode").removeAttr("disabled");//启用按钮  
            $("#btnSendCode").val("获取验证码");  
        }  
        else {  
            curCount--;  
            $("#btnSendCode").val(curCount + " S");  
        }  
    }  
	
	$(document).ready(function(){
	   $("#J-Submit").on('click',function(){
		  /*   var check = $("input[name='check']").val(); */
			var smsCode = $("input[name='smsCode']").val();
			if($("input[name='phone']").val() == ""){
                showAlertDiv("请输入手机号","style1");
				return false;
			}else if(smsCode == ""){
                showAlertDiv("请输入验证码","style1");
			}else{
				 $("#validStudents").submit();
			}
	    })
	})
</script>
<script>
        function PreviewImage(imgFile)
        {
            var filextension=imgFile.value.substring(imgFile.value.lastIndexOf("."),imgFile.value.length);
            filextension=filextension.toLowerCase();
            if ((filextension!='.jpg')&&(filextension!='.gif')&&(filextension!='.jpeg')&&(filextension!='.png')&&(filextension!='.bmp'))
            {
                alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                imgFile.focus();
            }
            else
            {
                var path;
                if(document.all)//IE
                {
                    imgFile.select();
                    path = document.selection.createRange().text;
                    document.getElementById("imgPreview").innerHTML="";
                    document.getElementById("imgPreview").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果
                }
                else//FF
                {
                    path=window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                    //path = imgFile.files[0].getAsDataURL();// FF 3.0
                    document.getElementById("imgPreview").innerHTML = "<img id='img1' style='width: 200px;height: auto;' src='"+path+"'/>";
                    //document.getElementById("img1").src = path;
                }

            }
        }

        $(document).ready(function () {
//            showAlertDiv("请输入正确的手机号码！","style2");
//            $(".common-ball input").attr({"disabled":"disabled","height":"0"});
            $(".common-ball input").attr("disabled","true");
            $(".ball").click(function () {
                $(this).parent().click(appendSelectedImg($(this)));
            });
            $("form").submit(function(e,checkCode){
                var levelVal     = $("[name='level[]'][disabled !='disabled']").val();
                var snameVal     = $("input[name=sname]").val();
                var ageVal       = $("input[name=age]").val();
                var birthdayVal  = $("input[name=birthday]").val();
                var creidVal     = $("input[name=creid]").val();
                var pictureVal   = $("input[name=picture]").val();
                var phoneVal     = $("input[name=phone]").val();
                var checkCodeVal = $("#check-code").val();
                var provinceVal  = $("input[name=province]").val();
                var cityVal      = $("input[name=city]").val();
                var areaVal      = $("input[name=area]").val();
                //输入是否为空
                if (!notUndefined(levelVal, "请选择通关级别") || !notEmpty(snameVal, "请输入姓名") || !notEmpty(ageVal,"请输入年龄") || !notEmpty(birthdayVal,"请输入出生日期") ||
                    !notEmpty(creidVal,"请输入证件号") || !notEmpty(pictureVal,"请上传个人照片") || !notEmpty(phoneVal,"请输入联系号码") ||
                    !notEmpty(checkCodeVal,"请输入验证码") || !notEmpty(provinceVal,"请选择省份") ||  !notEmpty(cityVal,"请选择市") ||
                    !notEmpty(areaVal,"请选择区")
                    ) {
                    e.preventDefault();
                    return false;
                }
                //验证年龄格式
                if (!isAge(ageVal,"请输入正确的年龄格式，如8,10,44")){
                    e.preventDefault();
                    return false;
                }
                //验证手机号
                if(!isPhone(phoneVal,"请输入正确的11位手机号码，如13345681111")){
                    e.preventDefault();
                    return false;
                }
               

            })
        });

        function appendSelectedImg(element) {
            var $div_li = element.parent();
            var $div_ul = $div_li.parent();
            var $div = $div_ul.parent();
            var $selectedImg = '<img src="/Public/Home/images/Student/selected.png" class="selected-img">';
            if (!(element.next().length > 0)){
                $div_li.append($selectedImg).find("input").removeAttr("disabled");
            }
            $div_li.prevAll().append($selectedImg).find("input").removeAttr("disabled");
            $div_li.nextAll().find(".selected-img").remove();
            $div_li.nextAll().find("input").attr("disabled","true");
            $div.siblings().find(".selected-img").remove();
            $div.siblings().find("input").attr("disabled","true");
        }
        function changeSubmitBt(){
            if($("#i-agree").is(':checked')){
                $(".my-bt-submit").css("background-color","#d9a4ed").removeClass("am-disabled");;
            }
            else {
                $(".my-bt-submit").css({"background-color":"gray","cursor":""}).addClass("am-disabled");
            }
        }

    </script>
</block>
<block name="body">
    <div class="student-pt1-ct">
                <form class="am-form" method="post" enctype="multipart/form-data" action="/Home/Student/add">
                    <fieldset>
                        <div class="ks-gz">
                            <img src="/Public/Home/images/Student/question.jpg" alt="">
                            <a href="#">等级考试规则</a>
                        </div>
                        <div class="student-pt1-ct-pt2">
                            <label><span style="color: #ff0000;">*</span>选择考试等级</label>
                            <br>
                            <div class="red-ball-part common-ball">
                                <p>红色球:（8岁以下请选择）</p>
                                <ul>
                                    <li class="red-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-R1">
                                        <img class="ball" src="/Public/Home/images/Student/red_ball.jpg" alt="">

                                    </li>
                                    <li class="red-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-R2">
                                        <img class="ball" src="/Public/Home/images/Student/red_ball.jpg" alt="">
                                    </li>
                                    <li class="red-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-R3">
                                        <img class="ball" src="/Public/Home/images/Student/red_ball.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="orange-ball-part common-ball">
                                <p>橙色球:（9-10岁请选择）</p>
                                <ul>
                                    <li class="orange-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-O1">
                                        <img class="ball" src="/Public/Home/images/Student/orange_ball.jpg" alt="">
                                    </li>
                                    <li class="orange-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-O2">
                                        <img class="ball" src="/Public/Home/images/Student/orange_ball.jpg" alt="">
                                    </li>
                                    <li class="orange-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-O3">
                                        <img class="ball" src="/Public/Home/images/Student/orange_ball.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="green-ball-part common-ball">
                                <p>绿色球:（10-11岁请选择）</p>
                                <ul>
                                    <li class="green-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-G1">
                                        <img class="ball" src="/Public/Home/images/Student/green_ball.jpg" alt="">
                                    </li>
                                    <li class="green-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-G2">
                                        <img class="ball" src="/Public/Home/images/Student/green_ball.jpg" alt="">
                                    </li>
                                    <li class="green-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG-G3">
                                        <img class="ball" src="/Public/Home/images/Student/green_ball.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                            <div class="yellow-ball-part common-ball">
                                <p>标准球:（11岁以上请选择）</p>
                                <ul>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG1">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">
                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG2">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">
                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG3">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG4">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG5">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG6">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG7">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG8">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">

                                    </li>
                                    <li class="yellow-li">
                                        <input style="display: none;" type="text" name="level[]" value="TG9">
                                        <img class="ball" src="/Public/Home/images/Student/yellow_ball.jpg" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="student-pt1-ct-pt3">
                            <p><label>带<span>*</span>的选项为必填选项</label></p>
                                    <div class="am-form-group">
                                        <label for="sname"><span>*</span>姓名:</label>
                                        <div class="form-input-box input-width-01">
                                            <input type="text" name="sname" id="sname" class="am-form-field am-radius" placeholder="请输入姓名" />
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="sex"><span>*</span>性别:</label>
                                        <div class="form-input-box input-width-02">
                                            <select name="sex" id="sex" class="am-form-field am-radius">
                                                <option value="1" selected>男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                            <label for="age"><span>*</span>年龄:</label>
                                            <div class="form-input-box input-width-01">
                                                <input type="text" name="age" id="age" class="am-form-field am-radius" placeholder="请输入年龄" />
                                            </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="birthday"><span>*</span>出生年月日:</label>
                                        <div class="form-input-box">
                                            <div style="width: 200px;display: inline-block;vertical-align: middle;">
                                                <div class="am-input-group am-datepicker-date am-radius" data-am-datepicker="{format: 'yyyy-mm-dd'}">
                                                <span class="am-input-group-btn am-datepicker-add-on"  style="border-radius: 5px 0 0 5px;">
                                                    <button style="background-color: #fff;border-radius: 5px 0 0 5px" class="am-btn am-btn-default" type="button"><span class="am-icon-calendar"></span> </button>
                                                </span>
                                                    <input style="background-color: #fff;border-radius: 0 5px 5px 0;width: 200px" type="text" class="am-form-field" name="birthday" id="birthday" placeholder="选择出生日期" readonly >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="cretype"><span>*</span>证件类型:</label>
                                        <div class="form-input-box input-width-03">
                                            <select name="cretype" id="cretype" class="am-form-field am-radius">
                                                <option value="1" selected>身份证</option>
                                                <option value="0">其他</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="creid"><span>*</span>证件号:</label>
                                        <div class="form-input-box input-width-01">
                                            <input type="text" name="creid" id="creid" class="am-form-field am-radius" placeholder="请输入证件号" />
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="picture"><span>*</span>个人照片:</label>
                                        <div class="form-input-box form-input-picture">
                                            <div class="am-form-group am-form-file">
                                                <button style="background-color:#d9a4ed;border-color:#d9a4ed;" type="button" class="am-btn am-btn-danger am-btn-sm">
                                                    <i class="am-icon-cloud-upload"></i> 添加个人照片</button>
                                                <span style="color: #ff0000;font-size: 14px;">*点击按钮上传一张一寸蓝底照片</span>
                                                <input id="doc-form-file" type="file" name="picture" onchange='PreviewImage(this)' multiple>
                                            </div>
                                        </div>
                                        <div class="tpl-form-file-img">
                                            <div id="imgPreview" style="margin-left: 220px;">
                                                <!-- 不添加图片则不显示图片，添加才显示 -->
                                                <!-- <empty name="$list.picture">
                                                    <img src="/Public/Admin/images/none.jpg" alt="">
                                                <else />
                                                    <img src="{$list.picture}" alt="" id="img0"/>
                                                    <input type="hidden" name="picture" value="{$list.picture}" />
                                                </empty> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="phone"><span>*</span>联系电话:</label>
                                        <div class="form-input-box input-width-01">
                                            <input style="display: inline-block;width: 65%;" type="text" name="phone" id="phone" class="am-form-field am-radius" placeholder="请输入联系电话" />
                                           
                                            <input id="btnSendCode" type="button" class="am-btn am-btn-default my-bt-check" value="发送验证码"  onclick="sendMessage()"/>
                                        </div>
                                        <input style="margin-top: 10px;margin-left: 220px;width: 350px;" type="text" class="am-form-field am-radius" id="check-code" placeholder="请输入验证码">
                                    </div>
                                    <div class="am-form-group">
                                        <label for="email">E-mail:</label>
                                        <div class="form-input-box input-width-01">
                                            <input type="text" name="email" id="email" class="am-form-field am-radius" placeholder="请输入邮箱" />
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="school">在读学校:</label>
                                        <div class="form-input-box input-width-01">
                                            <input type="text" name="school" id="school" class="am-form-field am-radius" placeholder="请输入在读学校" />
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label><span>*</span>选择考点区域:</label>
                                        <div class="form-input-box input-width-04">
                                            <select style="display: inline-block;width: 20%" class="am-radius" name="province">
                                                <option value="省份">选择省份</option>
                                                <volist name="province" id="vo">
                                                    <option value="{$vo.code}">{$vo.name}</option>
                                                </volist>
                                            </select>
                                            <select style="display: inline-block;width: 40%" class="am-radius" name="city">
                                                <option value="市" class="my-input-place">选择市</option>
                                            </select>
                                            <select style="display: inline-block;width: 30%" class="am-radius" name="area">
                                                <option value="区" class="my-input-place">选择区</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label><span>*</span>考试地点:</label>
                                        <div class="form-input-box input-width-04">
                                            <select style="display: inline-block;width: 40%" class="am-radius" name="pid">
                                                <option value="考试地点">请选择考试地点</option>
                                            </select>
                                            <select style="display: inline-block;width: 55%" class="am-radius" name="time">
                                                <option value="考试地点">请选择考试时间</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label><span>*</span>选择陪考:</label>
                                        <div class="form-input-box input-width-03">
                                            <select class="am-radius" name="tid">
                                                <option value="请选择陪考">请选择陪考</option>
                                            </select>
                                        </div>
                                    </div>

                        </div>
                        <div class="student-pt1-ct-pt4">
                            <input type="checkbox" id="i-agree" onchange="changeSubmitBt()">我同意<a class="i-agree-a">考生申请协议</a>
                            <br>
                            <button type="submit" class="am-btn am-radius my-bt-submit am-disabled">提交表单信息</button>
                        </div>
                    </fieldset>
                </form>
            </div>
</block>