<extend name="Public:base1" />
<block name="js"></block>
<block name="body">
    <div class="teacher-intro padding-5-8">
        <div class="teacher-intro-img">
            <!--后台数据-->
            <img src="{$list.picture}" alt="">

            <!--<img src="/Public/Home/images/home/people01.jpg" alt="">-->
        </div>
        <div class="teacher-intro-name">
            <!--后台数据-->
            <p>{$list.tname}</p>
            <!--<p>李娜</p>-->
        </div>
        <div class="teacher-intro-content">
            <!--后台数据-->
            <p>{$list.tintro}</p>
            <!--<p>-->
                <!--李娜，1982年2月26日出生于湖北省武汉市，中国女子网球运动员。2008年北京奥运会女子单打第四名，2011年法国网-->
                <!--球公开赛、2014年澳大利亚网球公开赛女子单打冠军，亚洲第一位大满贯女子单打冠军，亚洲历史上女单世界排名最高-->
                <!--选手。-->
            <!--</p>-->
        </div>
        <div class="teacher--intro-certificate">
            <p>荣誉证书:</p>
            <hr>
            <div class="teacher-certificate-img">
                <!--后台数据-->
                <volist name="certificate" id="vo">
                    <img src="{$vo}" alt="">
                </volist>
                <!--<img src="/Public/Home/images/common/place01.jpg" alt="">-->
            </div>
        </div>
    </div>
</block>