<!doctype html>
<html lang="en">

<head>
	<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>全国网球等级考试平台后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="icon" type="image/png" href="/Public/Home/images/common/title_icon.png">
    <link rel="apple-touch-icon-precomposed" href="/Public/Admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/Public/Admin/css/amazeui.min.css" />
    <link rel="stylesheet" href="/Public/Admin/css/admin.css">
    <link rel="stylesheet" href="/Public/Admin/css/bootstrap.min.css">
    <script src="/Public/Admin/js/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="/Public/Admin/css/app.css">
    <script src="/Public/Admin/js/echarts.min.js"></script>
    <script src="/Public/Admin/js/common.js"></script>
<script type="text/javascript"> 
	function del(){ 
		if(confirm("确认要删除？")){ 
			return true;
		} else{
			return false;
		}
	} 
</script> 
<script type="text/javascript"> 
	function rec(){ 
		if(confirm("确认要发布？")){ 
			return true;
		} else{
			return false;
		}
	} 
</script> 
    <block name="css"></block>
</head>

<body data-type="generalComponents">

    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/Public/Home/images/common/logo.jpg" style="width:110%" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">禁言小张</span><span class="tpl-header-list-user-ico">
                        <img src="/Public/Admin/images/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="/Admin/Login/loginout"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="###" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>
 <if condition="$_SESSION['Type']['type'] eq '3'">
 <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
           <div class="tpl-left-nav-title">
                管理 列表
           </div>
           <div class="tpl-left-nav-list">
		   <ul class="tpl-left-nav-menu">
		      <li class="tpl-left-nav-item">
		           <a href="/Admin/Index/index" class="nav-link active">
		               <i class="am-icon-home"></i>
		               <span>首页</span>
		           </a>
		      </li>
		   <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-bars"></i>
		               <span>申请板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/Teacher/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考官列表</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <a href="/Admin/Student/index">
	                           <i class="am-icon-angle-right"></i>
	                           <span>考生列表</span>
	                           <i class="tpl-left-nav-content tpl-badge-primary">5</i>
		                   </a>
		              </li>
		          </ul>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-table"></i>
		               <span>内容板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/News/index?status=1">
		                       <i class="am-icon-angle-right"></i>
		                       <span>新闻资讯列表</span>
		                       <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
		                   </a>
		                   <a href="/Admin/Notice/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考试公告列表</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <a href="/Admin/Grade/index">
	                           <i class="am-icon-angle-right"></i>
	                           <span>证书录入列表</span>
	                           <i class="tpl-left-nav-content tpl-badge-primary">5</i>
		                   </a>
			               <a href="/Admin/Live/index">
			                   <i class="am-icon-angle-right"></i>
			                   <span>考试直播列表</span>
			                   <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
			               </a>
		              </li>
		          </ul>
		    </li>
		   <li class="tpl-left-nav-item">
		           <a href="/Admin/Order/index" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-balance-scale"></i>
		               <span>订单信息记录表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">{$count}</i>
		           </a>
		    </li>
		   
		</ul>
        </div>
    </div>
</div>
 <else />
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
           <div class="tpl-left-nav-title">
                                                   管理 列表
           </div>
           <div class="tpl-left-nav-list">
		   <ul class="tpl-left-nav-menu">
		      <li class="tpl-left-nav-item">
		           <a href="/Admin/Index/index" class="nav-link active">
		               <i class="am-icon-home"></i>
		               <span>首页</span>
		           </a>
		      </li>
<!-- 		      <li class="tpl-left-nav-item">
		           <a href="chart.html" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-bar-chart"></i>
		               <span>数据表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">12</i>
		           </a>
		     </li> -->
		     <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-wpforms"></i>
		               <span>介绍板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/Intro/intro">
		                       <i class="am-icon-angle-right"></i>
		                       <span>平台简介</span>
		                       <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
		                   </a>
		                   <a href="/Admin/Intro/intros">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考试介绍</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <!--<a href="/Admin/Intro/intross">-->
	                           <!--<i class="am-icon-angle-right"></i>-->
	                           <!--<span>考试协议</span>-->
	                           <!--<i class="tpl-left-nav-content tpl-badge-primary">5</i>-->
		                   <!--</a>-->
		              </li>
		          </ul>
		    </li> <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-bars"></i>
		               <span>申请板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/Place/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考点列表</span>
		                       <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
		                   </a>
		                   <a href="/Admin/Teacher/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考官列表</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <a href="/Admin/Student/index">
	                           <i class="am-icon-angle-right"></i>
	                           <span>考生列表</span>
	                           <i class="tpl-left-nav-content tpl-badge-primary">5</i>
		                   </a>
		              </li>
		          </ul>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-table"></i>
		               <span>内容板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/News/index?status=1">
		                       <i class="am-icon-angle-right"></i>
		                       <span>新闻资讯列表</span>
		                       <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
		                   </a>
		                   <a href="/Admin/Notice/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>考试公告列表</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <a href="/Admin/Grade/index">
	                           <i class="am-icon-angle-right"></i>
	                           <span>证书录入列表</span>
	                           <i class="tpl-left-nav-content tpl-badge-primary">5</i>
		                   </a>
			               <a href="/Admin/Live/index">
			                   <i class="am-icon-angle-right"></i>
			                   <span>考试直播列表</span>
			                   <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
			               </a>
			               <a href="/Admin/Video/index">
			                   <i class="am-icon-angle-right"></i>
			                   <span>考试视频列表</span>
			                   <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
			               </a>
		              </li>
		          </ul>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="/Admin/Order/index" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-balance-scale"></i>
		               <span>订单信息记录表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">{$count}</i>
		           </a>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="/Admin/User/index" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-weixin"></i>&nbsp;
		               <span> 微信信息记录表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">{$count}</i>
		           </a>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="/Admin/Master/index" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-user-plus"></i>&nbsp;
		               <span> 站长记录表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">{$count}</i>
		           </a>
		    </li>
		    <li class="tpl-left-nav-item">
		           <a href="/Admin/Admin/index" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-user-plus"></i>&nbsp;
		               <span>管理员列表</span>
		               <i class="tpl-left-nav-content tpl-badge-danger">{$count}</i>
		           </a>
		    </li>
		   <!--  <li class="tpl-left-nav-item">
		           <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
		               <i class="am-icon-group"></i>&nbsp;
		               <span>管理员板块</span>
		               <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
		          </a>
		          <ul class="tpl-left-nav-sub-menu">
		               <li>
		                   <a href="/Admin/Admin/index">
		                       <i class="am-icon-angle-right"></i>
		                       <span>超级管理员列表</span>
		                       <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
		                   </a>
		                   <a href="/Admin/Admin/indexs">
		                       <i class="am-icon-angle-right"></i>
		                       <span>站长管理员列表</span>
		                       <i class="tpl-left-nav-content tpl-badge-success">18</i>
		                   </a>
		                   <a href="/Admin/Admin/indexss">
	                           <i class="am-icon-angle-right"></i>
	                           <span>考点管理员列表</span>
	                           <i class="tpl-left-nav-content tpl-badge-primary">5</i>
		                   </a>
		              </li>
		          </ul>
		    </li> -->
<!-- 		    <li class="tpl-left-nav-item">
		        <a href="login.html" class="nav-link tpl-left-nav-link-list">
		            <i class="am-icon-key"></i>
		            <span>登录</span>
		        </a>
		    </li> -->
		</ul>
        </div>
    </div>
</div>
</if>
<script src="/Public/Admin/js/jquery-2.1.1.js"></script>
<script src="/Public/Admin/js/amazeui.min.js"></script>
<script src="/Public/Admin/js/iscroll.js"></script>
<script src="/Public/Admin/js/app.js"></script>

<block name="js"></block>
<block name="body"></block>

</body>
</html>