<extend name="Public:base" />
<block name="body">


 <div class="tpl-content-wrapper" style="margin:0 20px">
            <div class="tpl-content-page-title">
                                                     考官信息详情列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="/Admin/Index/index" class="am-icon-home">首页</a></li>
                <li class="am-active">申请板块</li>
                <li class="am-active">考官信息列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-font-awesome"></span> 列表详情
                    </div>
<!--                     <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div> -->
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6" style="width:25%;">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <!-- <a href="/Admin/Student/add" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a> -->
<!--                                     <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button> -->
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <!-- <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                             <select data-am-selected="{btnSize: 'sm'}">
				                <option value="option1">请选择类别</option>
				                <option value="option2">已通过</option>
				                <option value="option3">待审核</option>
				                <option value="option3">未通过</option>
				            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                             <select data-am-selected="{btnSize: 'sm'}">
				                <option value="option1">请选择考级</option>
				                <option value="option2">0</option>
				                <option value="option3">1</option>
				                <option value="option3">2</option>
				            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field">
                                <span class="am-input-group-btn">
					              <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
					            </span>
			                </div>
			            </div>
                  </div>
		          <div class="am-g">
		              <div class="am-u-sm-12">
		                  <form class="am-form">
		                      <table class="am-table am-table-striped am-table-hover table-main">
		                          <thead>
		                              <tr>
		                                  <th></th>
		                                  <!-- <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th> -->
		                                  <th class="table-id">ID</th>
		                                  <th class="table-title">姓名</th>
		                                  <th class="table-author am-hide-sm-only">考点名称</th>
		                                  <th class="table-date am-hide-sm-only">考点地址</th>
		                                  <th class="table-type">手机号码</th>
		                                  <th class="table-set">操作</th>
		                              </tr>
		                          </thead>
		                          <tbody>
		                              <volist name="list" id="vo">
		                              <tr>
		                                  <!-- <td><input type="checkbox"></td> -->
		                                  <td></td>
		                                  <td>{$vo.tid}</td>
		                                  <td>{$vo.tname}</td>
		                                  <td>{$vo.pname}</td>
		                                  <td>{$vo.province}{$vo.city}{$vo.area}{$vo.address}</td>
		                                  <td>{$vo.phone}</td>
		                                  <td>
		                                      <div class="am-btn-toolbar">
		                                          <div class="am-btn-group am-btn-group-xs">
		                                              <if condition="$vo['status'] eq 1">
			                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-archive"></span>已通过</button>
			                                            <elseif condition="$vo['status'] eq 2"/>
			                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-archive"></span>待审核</button>
			                                            <else />
			                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-archive"></span>未通过</button>
			                                            </if>
		                                              <a style="background-color:#fff;color:#3bb4f2;" href="/Admin/Teacher/edit?tid={$vo.tid}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 修改</a>
		                                              <a  class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="/Admin/Teacher/delete?tid={$vo.tid}" onclick="return del()"><span class="am-icon-trash-o"></span> 删除</a>
		                                          </div>
		                                      </div>
		                                  </td>
		                              </tr>
		                              </volist>
		                          </tbody>
		                      </table>
		                      <div class="am-cf">
		
		                          <div class="am-fr">
		                              <ul class="am-pagination tpl-pagination">
		                                  {$page}
		                              </ul>
		                          </div>
		                      </div>
		                      <hr>
		
		                  </form>
		              </div>
		
		          </div>
		      </div>
		      <div class="tpl-alert"></div>
		  </div>
		</div>




</block>