@charset "utf-8";
/*CSS Document*/

/*常用*/
.txtn{text-decoration: none;}
.aa a:hover,.txtu{text-decoration: underline;}
.mara{margin: 0 auto;}
.of{overflow:hidden;}
.clear{clear: both;}
.wdall{width: 100%;}
.wd100{width: 100px;}
.wd113{width: 110px;}
.wd150{width: 150px;}
.wd300{width: 300px}
.wd400{width: 400px;}
.wd990{width: 990px;}
.wd988{width: 988px;}
.wd960{width: 960px;}
.wd1200{width: 1200px;}
.wd1216{width: 1216px;}
.ht0{height: 0px;}
.ht40{height:40px}
.ht70{height: 70px;}
.ht75{height: 75px;}
.ht300{height: 300px;}
.ht1200{height: 1200px;}
.bgred{background-color: red;}
.pdlr5{padding: 0 5px;}
.br100{border-radius: 100px;}
.curp{cursor: pointer;}

/*位置*/
.pr{position: relative;}
.pa{position: absolute;}

/*浮动*/
.fl{float: left;}
.fr{float: right;}

/*块*/
.db{display: block;}
.di{display: inline;}
.dn{display: none;}
.dt{display: table-cell;}

/*字体选择*/
.fsong{font-family: "STHeiti",Verdana,Simsun;}
.fver{font-family:"STHeiti",Verdana;}
.fyahei{font-family:"STHeiti","Microsoft YaHei";}
.fall{font-family:"STHeiti",Verdana,Simsun;}

/*字号大小*/
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs28{font-size: 28px;}
.fs32{font-size: 32px;}
.fs38{font-size: 38px;}
.fs52{font-size: 52px;}
.ptf30{font-size: 30pt;}
.ptf24{font-size: 24pt;}
/*字号属性*/
.fwb{font-weight: bold;}
.fwl{font-weight: lighter;}
.fwn{font-weight: normal;}

/*行间距*/
.lh0{line-height: 0px;}
.lh18{line-height: 18px;}
.lh24{line-height: 24px;}
.lh20{line-height: 20px;}
.lh30{line-height: 30px;}
.lh40{line-height: 40px;}
.lh75{line-height: 75px;}
.em18{line-height: 1.8em;}
/*文字位置*/
.txtl{text-align:left;}
.txtc{text-align:center;}
.txtr{text-align:right;}
.txtm{vertical-align: middle;}
/*颜色*/
.cwhite{color: #ffffff;}
.cred{color: #e83015;}
.cblack{color: #3c3c3c;}
.chei{color: #000000;}
.cgray{color: #6c6c6c;}
.cgray9{color: #9c9c9c;}
.czhong{color: #ba6c38;}
.cgreen{color: #3ba700;}
.corange{color: #ff7300;}
.corange2{color: #eb7f13;}
.cblue{color: #1b83fb;}
.c9999{color: #999;}
/*背景颜色*/
.bgred{background-color: #e83015;}
.bgblack{background-color: #333333;}
.bggray{background-color: #666666;} 
.bggray9{background-color: #999999;}
.bgwhite{background-color:#f5f5f5; }
.bgf1{background-color: #f1f1f1;}
.bgf4{background-color: #f4f4f4;}
.bgbai{background-color: #ffffff;}
.bgf0{background-color: #f0f0f0;}
.bgblue{background-color: #e5f2ff;}
.bgfafa{background-color: #fafafa;}
/*边框*/
.bgray{border: 1px solid #e5e5e5;}
.bgray2{border: 2px solid #e5e5e5;}
.bgray9{border: 1px solid #999999;}
.bocc{border: 1px solid #ccc;}
.bwhite{border: 1px solid #fff;}
.bred{border:1px solid #e83015;}
.bred2{border:2px solid #e83015;}
.bblue{border:1px solid #1b83fb;}
.bdgray{border-bottom: 1px dashed #e6e6e6;}
.btgray{border-top: 1px dashed #e6e6e6;}
.bbnone{border-bottom: none;}
.btnone{border-top: none;}
.blnone{border-left: none;}
.brnone{border-right: none;}
.blblue{border-left: 1px solid #c4d1ff;}
.blgray{border-left: 1px solid #e6e6e6;}
/*左移动*/
.mlj110{margin-left:-110px; }
.mlj90{margin-left:-90px; }
.mlj4{margin-left:-4px; }
.ml3{margin-left:3px; }
.ml5{margin-left:5px; }
.ml7{margin-left:7.5px; }
.ml10{margin-left:10px; }
.ml11{margin-left:11px; }
.ml15{margin-left:15px; }
.ml18{margin-left:18px; }
.ml20{margin-left:20px; }
.ml25{margin-left:25px; }
.ml27{margin-left:27px; }
.ml30{margin-left:30px; }
.ml40{margin-left:40px; }
.ml45{margin-left:45px; }
.ml50{margin-left:50px; }
.ml60{margin-left:60px; }
.ml62{margin-left:62px; }
.ml70{margin-left:70px; }
.ml80{margin-left:80px; }
.ml85{margin-left:85px; }
.ml90{margin-left: 90px;}
.ml100{margin-left:100px;}
.ml105{margin-left:105px;}
.ml123{margin-left: 123px;}
.ml150{margin-left: 150px;}
.ml170{margin-left: 170px;}
.ml330{margin-left: 330px;}
.ml350{margin-left: 350px;}
.ml600{margin-left: 600px;}
/*左移动*/
.mr2{margin-right:2px; }
.mr5{margin-right:5px; }
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr16{margin-right:16px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right: 90px;}
.mr100{margin-right:100px;}

/*上移动*/
.mtc2{margin-top: -2px;}
.mtc4{margin-top: -4px;}
.mtc5{margin-top: -5px;}
.mtc7{margin-top: -7px;}
.mt1{margin-top: 1px;}
.mt2{margin-top: 2px;}
.mt3{margin-top: 3px;}
.mt5{margin-top: 5px;}
.mt7{margin-top: 7px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt80{margin-top: 80px;}
.mt90{margin-top: 90px;}
.mt100{margin-top: 100px;}
.mt150{margin-top: 150px;}
/*上移动*/
.mb2{margin-bottom: 2px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb16{margin-bottom: 16px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}

/*上空移动*/
.pt5{padding-top:5px;}
.pt20{padding-top:20px;}
.pt40{padding-top: 40px;}
.pt70{padding-top: 70px;}

.pb2{padding-bottom: 2px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb50{padding-bottom: 50px;}
.pb70{padding-bottom: 70px;}

.pl50{padding-left: 50px;}
.pl70{padding-left: 70px;}

.pr70{padding-right: 70px;}

.pd10{padding: 10px;}

.bge6{background-color:#E6E4E4;}