<extend name="Public:base1" />
<block name="js">
<script src="/Public/Home/js/ajaxQuery.js"></script>
<script src="/Public/Home/js/formValidation.js"></script>
<script type="text/javascript">  

var InterValObj; //timer变量，控制时间  
var count = 90; //间隔函数，1秒执行  
var curCount;//当前剩余秒数  
  
function sendMessage() {  
	// 判断数据是否为空
     var mobile = $("input[name='phone']").val();

     if(mobile == ""){
    	 alert("手机号码不能为空！");
    	 return false;
     }
	
  　curCount = count;  
　　//设置button效果，开始计时  
     $("#btnSendCode").attr("disabled", "true");  
     $("#btnSendCode").val(curCount + " S");  
     InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
　　  //向后台发送处理数据  
     
     $.ajax({  
	     　　type: "POST", //用POST方式传输  
	     　　dataType: "json", //数据格式:JSON  
	     　　url: '/Home/Teacher/sendSMS', //目标地址  
	    　　 data: {mobile:mobile},  
	    　　 error: function (XMLHttpRequest, textStatus, errorThrown) { },  
	     　　success: function (msg){ 
	    	 	 console.log(msg);
	    	 	/*  console.log(msg.smsCode); */
		    	 /* if(msg.code == 0){ */
		    		 $("input[name='check']").val(msg.smsCode);
		    	 /* } */
	     　　}  
     });  
}  

	//timer处理函数  
	function SetRemainTime() {  
        if (curCount == 0) {                  
            window.clearInterval(InterValObj);//停止计时器  
            $("#btnSendCode").removeAttr("disabled");//启用按钮  
            $("#btnSendCode").val("获取验证码");  
        }  
        else {  
            curCount--;  
            $("#btnSendCode").val(curCount + " S");  
        }  
    }  
	
	$(document).ready(function(){
	   $("#J-Submit").on('click',function(){
		  /*   var check = $("input[name='check']").val(); */
			var smsCode = $("input[name='smsCode']").val();
			if($("input[name='phone']").val() == ""){
				alert("请输入手机号");return false;
			}else if(smsCode == ""){
				 alert("请输入验证码");
			}else{
				 $("#validStudents").submit();
			}
	    })
	})
</script> 
<script>
        function PreviewImage(imgFile,imgBoxId)
        {
            var filextension=imgFile.value.substring(imgFile.value.lastIndexOf("."),imgFile.value.length);
            filextension=filextension.toLowerCase();
            if ((filextension!='.jpg')&&(filextension!='.gif')&&(filextension!='.jpeg')&&(filextension!='.png')&&(filextension!='.bmp'))
            {
                alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                imgFile.focus();
            }
            else
            {
                var path;
                if(document.all)//IE
                {
                    imgFile.select();
                    path = document.selection.createRange().text;
                    document.getElementById(imgBoxId).innerHTML="";
                    document.getElementById(imgBoxId).style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\"" + path + "\")";//使用滤镜效果
                }
                else//FF
                {
                    path=window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                    //path = imgFile.files[0].getAsDataURL();// FF 3.0
                    document.getElementById(imgBoxId).innerHTML = "<img id='img1' style='width: 200px;height: auto;' src='"+path+"'/>";
                    //document.getElementById("img1").src = path;
                }
            }
            var next = "#"+imgBoxId;
            $(next).parent().parent().next().css("display","block");
        }
        function changeSubmitBt(){
            if($("#i-agree").is(':checked')){
                $(".my-bt-submit").css("background-color","#d9a4ed").removeClass("am-disabled");;
            }
            else {
                $(".my-bt-submit").css({"background-color":"gray","cursor":""}).addClass("am-disabled");
            }
        }
        $(document).ready(function () {
            $("form").submit(function (e,checkCode) {
                var tnameVal     = $("input[name=tname]").val();
                var idcardVal       = $("input[name=idcard]").val();
                var pictureVal   = $("input[name=picture]").val();
                var phoneVal     = $("input[name=phone]").val();
                var checkCodeVal = $("#check-code").val();
                var tintroVal = $("input[name=tintro]").val();
                var certificateVal = $("input[name='certificate[]']").val();
                var provinceVal  = $("input[name=province]").val();
                var cityVal      = $("input[name=city]").val();
                var areaVal      = $("input[name=area]").val();
                var pidVal      = $("input[name=pid]").val();
                //输入是否为空
                if (!notEmpty(tnameVal, "请输入姓名") || !notEmpty(idcardVal,"请输入身份证号码") || !notEmpty(phoneVal,"请输入电话号码") ||
                    !notEmpty(checkCodeVal,"请输入验证码") || !notEmpty(pictureVal,"请上传个人照片") || !notEmpty(tintroVal,"请输入个人介绍") ||
                    !notEmpty(provinceVal,"请选择省份") || !notEmpty(cityVal,"请选择市") || !notEmpty(areaVal,"请选择区") ||
                    !notEmpty(certificateVal,"请上传资格证书") || !notEmpty(pidVal,"请选择考点")
                ) {
                    e.preventDefault();
                    return false;
                }
/*                 //验证手机号
                if(!isPhone(phoneVal,"请输入正确的11位手机号码，如13345681111")){
                    e.preventDefault();
                    return false;
                }
                //验证码输入是否正确
                if(!isEqual(checkCodeVal,checkCode,"请输入正确的验证码")){
                    e.preventDefault();
                } */
            })
        })
    </script>
</block>
<block name="body">
    <div class="student-pt1-ct">
                <form class="am-form" method="post"  enctype="multipart/form-data" action="/Home/Teacher/add">
                    <fieldset>
                        <!--<div class="common-pt1-ct-pt1">-->

                            <!--<p>考官申请</p>-->
                            <!--<img class="p-line" src="/Public/Home/images/Student/line.jpg" alt="">-->
                            <!--<p>Candidates application</p>-->
                        <!--</div>-->
                        <div class="student-pt1-ct-pt3">
                            <p><label>带<span>*</span>的选项为必填选项</label></p>
                            <input type="hidden" name="level"/>
                            <div class="am-form-group">
                                <label for="tname"><span>*</span>姓名:</label>
                                <div class="form-input-box input-width-01">
                                    <input type="text" name="tname" id="tname" class="am-form-field am-radius" placeholder="请输入姓名" />
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="sex"><span>*</span>姓别:</label>
                                <div class="form-input-box input-width-02">
                                    <select name="sex" id="sex" class="am-form-field am-radius">
                                        <option value="1" selected>男</option>
                                        <option value="0">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="idcard"><span>*</span>身份证号码:</label>
                                <div class="form-input-box input-width-01">
                                    <input type="text" name="idcard" id="idcard" class="am-form-field am-radius" placeholder="请输入身份证号码" />
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="phone"><span>*</span>联系电话:</label>
                                <div class="form-input-box input-width-01">
                                    <input style="display: inline-block;width: 65%;" type="text" name="phone" id="phone" class="am-form-field am-radius" placeholder="请输入联系电话" />
                                    <input id="btnSendCode" type="button" class="am-btn am-btn-default my-bt-check" value="发送验证码"  onclick="sendMessage()"/>
                                </div>
                                <input style="margin-top: 10px;margin-left: 220px;width: 350px;" type="text" class="am-form-field am-radius" id="check-code" placeholder="请输入验证码">
                            </div>
                            <div class="am-form-group">
                                <label for="picture"><span>*</span>个人照片:</label>
                                <div class="form-input-box form-input-picture">
                                    <div class="am-form-group am-form-file">
                                        <button style="background-color:#d9a4ed;border-color:#d9a4ed;" type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加个人照片</button>
                                        <span style="color: #ff0000;font-size: 14px;">*点击按钮上传一张2寸蓝底照片</span>
                                        <input type="file" name="picture" onchange='PreviewImage(this,"imgPreview1")'>
                                    </div>
                                </div>
                                <div class="tpl-form-file-img">
                                    <div id="imgPreview1" style="margin-left: 220px;">
                                        <!-- 不添加图片则不显示图片，添加才显示 -->
                                        <!-- <empty name="$list.picture">
                                            <img src="/Public/Admin/images/none.jpg" alt="">
                                        <else />
                                            <img src="{$list.picture}" alt="" id="img0"/>
                                            <input type="hidden" name="picture" value="{$list.picture}" />
                                        </empty> -->
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group" style="height: 120px;">
                                <label for="tintro"><span>*</span>个人介绍:</label>
                                <div class="form-input-box input-width-01">
                                    <textarea name="tintro" class="am-radius" rows="5" id="tintro" placeholder="请输入200字以内的个人介绍"></textarea>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label><span>*</span>现所在考点:</label>
                                <div class="form-input-box input-width-01">
                                    <select style="display: inline-block;width: 30%" class="am-radius" name="province">
                                        <option value="省份">选择省份</option>
                                        <volist name="province" id="vo">
                                            <option value="{$vo.code}">{$vo.name}</option>
                                        </volist>
                                    </select>
                                    <select style="display: inline-block;width: 30%" class="am-radius" name="city">
                                        <option value="市" class="my-input-place">选择市</option>
                                    </select>
                                    <select style="display: inline-block;width: 30%" class="am-radius" name="area">
                                        <option value="区" class="my-input-place">选择区</option>
                                    </select>
                                </div>
                                <!--<input style="margin-top: 10px;margin-left: 220px;width: 350px;" type="text" name="pid" id="pid" class="am-form-field am-radius" placeholder="请输入所在考点" />-->
                                <select  style="margin-top: 10px;margin-left: 220px;width: 326px;" name="pid" id="pid" class="am-radius">
                                    <option value="选择考点">选择考点</option>
                                </select>
                            </div>
                            <div class="am-form-group" id="certificate-div">
                                <label for="certificate"><span>*</span>资格证书:</label>
                                <div class="form-input-box form-input-picture">
                                    <div class="am-form-group am-form-file">
                                        <button style="background-color:#d9a4ed;border-color:#d9a4ed;" type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加资格证书</button>
                                        <br>
                                        <span style="color: #ff0000;font-size: 14px;">*点击按钮上传资格证书：运动员证、裁判证或毕业证</span>
                                        <input type="file" name="certificate[]" onchange='PreviewImage(this,"imgPreview2")'>
                                    </div>
                                </div>
                                <div class="tpl-form-file-img" style="margin-top: 30px">
                                    <div id="imgPreview2" style="margin-left: 220px;">
                                        <!-- 不添加图片则不显示图片，添加才显示 -->
                                        <!-- <empty name="$list.picture">
                                            <img src="/Public/Admin/images/none.jpg" alt="">
                                        <else />
                                            <img src="{$list.picture}" alt="" id="img0"/>
                                            <input type="hidden" name="picture" value="{$list.picture}" />
                                        </empty> -->
                                    </div>
                                </div>
                            </div>
                            <!--上传资格证书2-->
                            <div class="am-form-group" style="display: none;margin-bottom: 30px">
                                <div class="form-input-box form-input-picture">
                                    <div class="am-form-group am-form-file">
                                        <button style="background-color:#d9a4ed;border-color:#d9a4ed;" type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加资格证书</button>
                                        <input type="file" name="certificate[]" onchange='PreviewImage(this,"imgPreview3")'>
                                    </div>
                                </div>
                                <div class="tpl-form-file-img" style="margin-top: 45px">
                                    <div id="imgPreview3" style="margin-left: 220px;">
                                        <!-- 不添加图片则不显示图片，添加才显示 -->
                                        <!-- <empty name="$list.picture">
                                            <img src="/Public/Admin/images/none.jpg" alt="">
                                        <else />
                                            <img src="{$list.picture}" alt="" id="img0"/>
                                            <input type="hidden" name="picture" value="{$list.picture}" />
                                        </empty> -->
                                    </div>
                                </div>
                            </div>
                            <!--上传资格证书3-->
                            <div class="am-form-group" style="display: none;">
                                <div class="form-input-box form-input-picture">
                                    <div class="am-form-group am-form-file">
                                        <button style="background-color:#d9a4ed;border-color:#d9a4ed;" type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加资格证书</button>
                                        <input type="file" name="certificate[]" onchange='PreviewImage(this,"imgPreview4")'>
                                    </div>
                                </div>
                                <div class="tpl-form-file-img" style="margin-top: 45px">
                                    <div id="imgPreview4" style="margin-left: 220px;">
                                        <!-- 不添加图片则不显示图片，添加才显示 -->
                                        <!-- <empty name="$list.picture">
                                            <img src="/Public/Admin/images/none.jpg" alt="">
                                        <else />
                                            <img src="{$list.picture}" alt="" id="img0"/>
                                            <input type="hidden" name="picture" value="{$list.picture}" />
                                        </empty> -->
                                    </div>
                                </div>
                            </div>

                            <!--<div class="am-form-group">-->
                                <!--<label for="pid"><span>*</span>所在考点:</label>-->
                                <!--<div class="form-input-box input-width-01">-->
                                    <!---->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="am-form-group">-->
                                <!--<label><span>*</span>考试地点:</label>-->
                                <!--<div class="form-input-box input-width-04">-->
                                    <!--<select style="display: inline-block;width: 40%" class="am-radius" name="pname">-->
                                        <!--<option value="请选择考试地点">请选择考试地点</option>-->
                                    <!--</select>-->
                                    <!--<select style="display: inline-block;width: 55%" class="am-radius" name="time">-->
                                        <!--<option value="请选择考试地点">请选择考试时间</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="am-form-group">-->
                                <!--<label><span>*</span>选择陪考:</label>-->
                                <!--<div class="form-input-box input-width-03">-->
                                    <!--<select class="am-radius" name="pname">-->
                                        <!--<option value="请选择陪考">请选择陪考</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                </div>
                <div class="student-pt1-ct-pt4">
                    <input type="checkbox" id="i-agree" onchange="changeSubmitBt()">我同意<a class="i-agree-a">考生申请协议</a>
                    <br>
                    <button type="submit" class="am-btn am-radius my-bt-submit am-disabled">提交表单信息</button>
                </div>
                </fieldset>
                </form>
            </div>
</block>