<extend name="Public:base" />
<block name="js"></block>
<block name="body">
    <div class="common-part1">
        <div class="wrap1">
            <div class="common-top-bg">
                <img src="/Public/Home/images/user/top_bg.png" alt="">
            </div>
        </div>
        <div class="wrap2">
            <div class="intro-pt1-ct padding-7-8">
                <div class="common-pt1-ct-pt1">
                    <p>直播列表</p>
                    <img class="p-line" src="/Public/Home/images/Student/line.jpg" alt="">
                    <p>Test site live broadcast</p>
                </div>
                <div class="live-pt1-ct-pt2">
                    <ul>
                        <li>
                            <a href="#"><img src="/Public/Home/images/live/live01.jpg" alt=""></a>
                            <p>武汉市武汉体育学院网球俱乐部</p>
                        </li>
                        <li>
                            <a href="#"><img src="/Public/Home/images/live/live02.jpg" alt=""></a>
                            <p>武汉市武汉体育学院网球俱乐部</p>
                        </li>
                        <li>
                            <a href="#"><img src="/Public/Home/images/live/live03.jpg" alt=""></a>
                            <p>武汉市武汉体育学院网球俱乐部</p>
                        </li>
                        <li>
                            <a href="#"><img src="/Public/Home/images/live/live04.jpg" alt=""></a>
                            <p>武汉市武汉体育学院网球俱乐部</p>
                        </li>
                        <li>
                            <a href="#"><img src="/Public/Home/images/live/live05.jpg" alt=""></a>
                            <p>武汉市武汉体育学院网球俱乐部</p>
                        </li>
                    </ul>
                </div>
                <div class="live-pt1-ct-pt3">
                <!--分页-->
                </div>
            </div>
        </div>
    </div>
</block>