<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全国网球等级考试平台</title>
    <link rel="stylesheet" href="/Public/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Public/Home/css/main.css">
</head>
<block name="js"></block>
<body>
<div class="header">
    <div class="header-part1">
        <div class="wrap">
            <div class="h-p1-left">
                <img src="/Public/Home/images/common/logo.jpg" alt="logo">
            </div>
            <div class="h-p1-right">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">平台简介</a></li>
                    <li><a href="#">考试介绍</a></li>
                    <li><a href="#">考级报名</a></li>
                    <li><a href="#">考官申请</a></li>
                    <li><a href="#">考点申办</a></li>
                    <li><a href="#">视频中心</a></li>
                </ul>
                <button class="btn btn-success btn-lg">登录</button>
            </div>
        </div>
    </div>
    <div class="header-part2">
        <img src="/Public/Home/images/common/headerimg_01.jpg" alt="">
    </div>
</div>
<block name="body"></block>
<div class="footer">
    <div class="footer-part">
        <ul>
            <li><img src="/Public/Home/images/common/logo_gjtyzj.jpg" alt=""><br>国家体育总局</li>
            <li><img src="/Public/Home/images/common/logo_gjtyzj.jpg" alt=""><br>国家网球中心</li>
            <li><img src="/Public/Home/images/common/logo_shzd.jpg" alt=""><br>社会体育中心</li>
            <li><img src="/Public/Home/images/common/logo_zgtyzx.jpg" alt=""><br>中国体育在线</li>
        </ul>

        <p>网球运动技能评定委员会唯一授权平台</p>
        <p>中奥互联科技有限公司 版权所有</p>
        <p>粤ICP备xxxxxxxx号-x | 联系电话：xxxx-xxx-xxxx | 邮箱：xxxxxx@qq.com </p>
    </div>
</div>
</body>
</html>