<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport"-->
          <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全国网球等级考试平台</title>
    <link rel="icon" type="image/png" href="\Public\Home\images\common\title_icon.png">
    <link rel="stylesheet" href="/Public/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Public/Admin/css/amazeui.min.css">
    <link rel="stylesheet" href="/Public/Home/css/main.css">
    <link rel="stylesheet" href="/Public/Admin/css/app.css">
    <script src="/Public/Admin/js/jquery-2.1.1.js"></script>
    <script src="/Public/Admin/js/amazeui.min.js"></script>
    <script src="/Public/Home/js/alertMessage.js"></script>
    <script src="/Public/Home/js/common.js"></script>
</head>
<block name="js"></block>
<body>
<div id="loading" style="display: none;width: 50px;height: 50px; margin: auto;  position: fixed;  top: 0;  bottom: 0;  right: 0;  left: 0;z-index: 1000;">
    <div>
        <img style="width: 50px;height: 50px;" src="/Public/Home/images/common/loading.gif" alt="">
    </div>
</div>
<!--滑动900px之后显示-->
<div style="position: fixed;right: 200px;bottom: 80px;width: 60px;z-index: 1100;" data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="">
        <!--<img style="max-width: 60px;" class="am-gotop-icon-custom" src="/Public/Home/images/common/rocket.png" width="100px"/>-->
        <img style="max-width: 60px;" class="am-gotop-icon-custom" src="/Public/Home/images/common/go_top.png" width="100px"/>
    </a>
</div>
<div class="header">
    <div class="header-part1">
        <div class="wrap header-part1-center">
            <div class="h-p1-left">
                <img src="/Public/Home/images/common/logo.jpg" alt="logo">
            </div>
            <input type="hidden" name="unionid" value="{$Think.session.userInfo.unionid}">
            <div class="h-p1-right">
                <ul>
                    <li><a href="/Home/Index/index">首页</a></li>
                    <li><a href="/Home/Intro/content">平台简介</a></li>
                    <li id="intro-a">
                        <a href="/Home/Intro/index">考试介绍</a>
                        <div class="intro">
                            <ul>
                                <li><a href="/Home/Intro/content">考级简介</a></li>
                                <li><a href="/Home/Intro/content">考级内容</a></li>
                                <li><a href="/Home/Intro/content">证书样板</a></li>
                                <li><a href="/Home/Intro/content">考点协议</a></li>
                                <li><a href="/Home/Intro/content">考官协议</a></li>
                                <li><a href="/Home/Intro/content">报名协议</a></li>
                            </ul>
                        </div>
                    </li>
                    <!--<li><a href="#" onclick="a()">考级报名</a></li>-->
                    <li><a href="/Home/Student/index">考级报名</a></li>
                    <!--<li><a href="#" onclick="b()">考官申请</a></li>-->
                    <li><a href="/Home/Teacher/index">考官申请</a></li>
                    <!--<li><a href="#" onclick="c()">考点申办</a></li>-->
                    <li><a href="/Home/Place/index">考点申办</a></li>
                    <li><a href="/Home/Live/index">视频中心</a></li>
                </ul>
                <if condition="($Think.session.userInfo.unionid eq NULL)">
                <button class="btn btn-success btn-lg" onclick="abc()">登录</button>
                <else />
                <button id="personal-center" class="btn btn-success btn-lg">
                    <a href="/Home/User/index">个人中心</a>
                    <a href="/Home/Login/logout" class="am-badge am-badge-warning login-out">退出</a>
                </button>
                </if>
            </div>
        </div>
    </div>
    <div class="header-part2" >
        <span style="position: absolute;top:40px;buttom:0px;left:40%;  background: #fff;">
        <div id="login_container">
        </div> 
        </span>
        <img src="/Public/Home/images/common/headerimg_01.jpg" alt="" >
    </div>
</div>
<block name="body"></block>
<div class="footer">
    <div style="height: 20px;width: 100%;background-color:#d9a4ed;"></div>
    <div class="footer-part">
        <ul>
            <li><img src="/Public/Home/images/common/logo_gjtyzj.jpg" alt=""><br>国家体育总局</li>
            <li><img src="/Public/Home/images/common/logo_gjtyzj.jpg" alt=""><br>国家网球中心</li>
            <li><img src="/Public/Home/images/common/logo_shzd.jpg" alt=""><br>社会体育中心</li>
            <li><img src="/Public/Home/images/common/logo_zgtyzx.jpg" alt=""><br>中国体育在线</li>
        </ul>

        <p>网球运动技能评定委员会唯一授权平台</p>
        <p>中奥互联科技有限公司 版权所有</p>
        <p>粤ICP备xxxxxxxx号-x | 联系电话：xxxx-xxx-xxxx | 邮箱：xxxxxx@qq.com </p>
    </div>
</div>
<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script>
function abc(){
	var unionid =  $("input[name='unionid']").val();
	if (unionid == ''){
	var obj = new WxLogin({
	    id:"login_container",
	    appid: "wx97cea69a39e328a5",
	    scope: "snsapi_login",
	    redirect_uri: "http://tennis.laigl.com/weixinlogin.php",
	    state: "STATE",
	    style: "",
	    href: ""
	  });
	}else{
		window.location.href="/Home/Student/index";
	}
}
</script>
<script>
function a(){
	var unionid =  $("input[name='unionid']").val();
	if (unionid == ''){
	var obj = new WxLogin({
	    id:"login_container",
	    appid: "wx97cea69a39e328a5",
	    scope: "snsapi_login",
	    redirect_uri: "http://tennis.laigl.com/weixinlogin.php",
	    state: "STATE",
	    style: "",
	    href: ""
	  });
	}else{
		window.location.href="/Home/Student/index";
	}
}
</script>
<script>
function b(){
	var unionid =  $("input[name='unionid']").val();
	if (unionid == ''){
	var obj = new WxLogin({
	    id:"login_container",
	    appid: "wx97cea69a39e328a5",
	    scope: "snsapi_login",
	    redirect_uri: "http://tennis.laigl.com/weixinlogin.php",
	    state: "STATE",
	    style: "",
	    href: ""
	  });
	}else{
		window.location.href="/Home/Teacher/index";
	}
}
</script>
<script>
function c(){
	var unionid =  $("input[name='unionid']").val();
	if (unionid == ''){
	var obj = new WxLogin({
	    id:"login_container",
	    appid: "wx97cea69a39e328a5",
	    scope: "snsapi_login",
	    redirect_uri: "http://tennis.laigl.com/weixinlogin.php",
	    state: "STATE",
	    style: "",
	    href: ""
	  });
	}else{
		window.location.href="/Home/Place/index";
	}
}
</script>
</body>
</html>