<extend name="Public:base" />
<block name="js">
    <script>
        $(document).ready(function () {
            $(".home-pt1-ct-pt1 li:first").css("padding-left","0");
            $(".home-pt1-ct-pt1 li:last").css({"padding-right":"0","border-right":"none"});
        })
    </script>
</block>
<block name="body">
<div class="home-pt1 width-full">
    <div class="home-pt1-ct wrap">
        <div class="home-pt1-ct-pt1">
            <ul>

<!--                 <li><img src="/Public/Home/images/home/kjjj.png" alt=""><a href="/Home/Intro/index">考级简介</a></li>
                <li><img src="/Public/Home/images/home/kjbm.png" alt=""><a href="/Home/Student/index" onclick="abc()">考级报名</a></li>
                <li><img src="/Public/Home/images/home/kgsq.png" alt=""><a href="/Home/Teacher/index" onclick="abc()">考官申请</a></li>
                <li><img src="/Public/Home/images/home/kdsq.png" alt=""><a href="/Home/Place/index" onclick="abc()">考点申请</a></li> -->
                <!--布局方案一-->
                <!--<li><img src="/Public/Home/images/home/kjjj.png" alt=""><a href="/Home/Intro/index">考级简介</a></li>-->
                <!--<li><img src="/Public/Home/images/home/kjbm.png" alt=""><a href="#" onclick="abc()">考级报名</a></li>-->
                <!--<li><img src="/Public/Home/images/home/kgsq.png" alt=""><a href="#" onclick="abc()">考官申请</a></li>-->
                <!--<li><img src="/Public/Home/images/home/kdsq.png" alt=""><a href="#" onclick="abc()">考点申请</a></li>-->
                <!--布局方案二-->
                <li><img src="/Public/Home/images/home/kgcx.png" alt=""><a href="/Home/TeacherQuery/index">考官查询</a></li>
                <li><img src="/Public/Home/images/home/kdcx.png" alt=""><a href="/Home/PlaceQuery/index">考点查询</a></li>
                <li><img src="/Public/Home/images/home/zscx.png" alt=""><a href="/Home/CertificateQuery/index">证书查询</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="home-pt2  width-full">
    <div class="home-pt2-ct wrap">
        <div class="home-pt2-ct-pt1">
            <div class="home-pt2-ct-common-title">
                <div class="home-pt2-ct-common-title-left home-pt2-ct-pt1-title-border">  
                    <h1>考试公告</h1>
                    <p>Examination notice</p>
                </div>
                <div class="home-pt2-ct-common-title-right">
                    <a href="/Home/Notice/index">更多详情&gt;&gt;</a>
                </div>
            </div>
            <div class="home-pt2-ct-common-list home-pt2-ct-pt1-list-p">
                <ul>
                    <!--模板输出-->
                    <volist name="notice" id="vo">
                        <li>
                            <a href="/Home/Notice/content?noid={$vo.noid}"><p><span>【考试公告】</span>{$vo.title}</p></a>
                            <span class="home-pt2-ct-common-span">[{:date('Y.m.d',$vo['create_time'])}]</span>
                        </li>
                    </volist>

                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网球-ITN分级大奖赛</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网球-ITN分级</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网球-ITN分级大</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网球-ITN分级大奖赛</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网赛</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p><span>【考试公告】</span>TELOON2016武汉网大奖赛</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                </ul>
            </div>
        </div>
        <div class="home-pt2-ct-pt2">
            <div class="home-pt2-ct-common-title">
                <div class="home-pt2-ct-common-title-left home-pt2-ct-pt2-title-border">
                    <h1>新闻资讯</h1>
                    <p>Examination notice</p>
                </div>
                <div class="home-pt2-ct-common-title-right">
                    <a href="/Home/News/index">更多详情&gt;&gt;</a>
                </div>
            </div>
            <div class="home-pt2-ct-common-list home-pt2-ct-pt2-list-p">
                <ul>
                    <!--模板输出-->
                    <volist name="news" id="vo">
                        <li>
                            <a href="/Home/News/content?nid={$vo.nid}"><p>{$vo.main_title}</p></a>
                            <span class="home-pt2-ct-common-span">[{$vo.create_time|date="Y.m.d",###}]</span>
                        </li>
                    </volist>

                    <!--<li><a href="#"><p>TELOON2016武汉网球-ITN分级大奖赛【总决赛】</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p>通用网球技术水平标准等级对照表</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p>什么是ITN？ITN如何进行测试？</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p>ITN网球分级赛信任制准则</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p>CTAJ精英赛（天龙杯－武汉体院站）短式网球甲组单打组单打组单打</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                    <!--<li><a href="#"><p>TELOON2016武汉网球-ITN分级大奖赛</p></a><span class="home-pt2-ct-common-span">[2017.07.10]</span></li>-->
                </ul>
            </div>
        </div>
        <!--布局一 absolute-->
        <!--<div class="home-pt2-ct-pt3">-->
            <!--<div class="home-pt2-ct-pt3-kgcx home-pt2-ct-pt3-common">-->
                <!--<img src="/Public/Home/images/home/kgcx.png" alt="">-->
                <!--<a href="">考官查询</a>-->
            <!--</div>-->
            <!--<div class="home-pt2-ct-pt3-kdcx home-pt2-ct-pt3-common">-->
                <!--<img src="/Public/Home/images/home/kdcx.png" alt="">-->
                <!--<a href="">考点查询</a>-->
            <!--</div>-->
            <!--<div class="home-pt2-ct-pt3-zscx home-pt2-ct-pt3-common">-->
                <!--<img src="/Public/Home/images/home/zscx.png" alt="">-->
                <!--<a href="">证书查询</a>-->
            <!--</div>-->
            <!--<div class="home-pt2-ct-pt3-erweima">-->
                <!--<div class="home-pt2-ct-pt3-erweima-box">-->
                    <!--<img src="/Public/Home/images/home/erweima.png" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--布局二 fixed-->
        <div class="home-pt2-ct-pt3">
            <div class="home-pt2-ct-pt3-erweima">
                <div class="home-pt2-ct-pt3-erweima-box">
                    <img src="/Public/Home/images/home/weixin.jpg" alt="">
                </div>
                <span>官方微信平台</span>
            </div>
        </div>
    </div>
</div>
<div class="home-pt3  width-full">
    <div class="home-pt3-ct wrap">
        <div class="home-pt3-ct-pt1">
            <h1>考试流程</h1>
            <img src="/Public/Home/images/home/liucheng.png" alt="">
        </div>
        <div class="home-pt3-ct-pt2">
            <div class="home-pt3-ct-pt2-video home-pt3-ct-pt2-common">
                <a href="/Home/Video/index">
                    <img src="/Public/Home/images/home/video.jpg" alt="">
                </a>
                <h1><a href="/Home/Video/index">考级视频</a></h1>
                <p>Exam video</p>
            </div>
            <div class="home-pt3-ct-pt2-live home-pt3-ct-pt2-common">
                <a href="/Home/Live/index">
                    <img src="/Public/Home/images/home/live.jpg" alt="">
                </a>
                <h1><a href="/Home/Live/index">考点直播</a></h1>
                <p>Exam Live</p>
            </div>
        </div>
    </div>
</div>
<div class="home-pt4 width-full">
    <div class="home-pt4-ct wrap">
        <div class="home-pt4-ct-pt1">
            <div class="home-pt2-ct-common-title home-pt4-ct-title-noborder">
                <div class="home-pt2-ct-common-title-left home-pt4-ct-pt1-title-border">
                    <h1>考官列表</h1>
                    <p>Examiner list</p>
                </div>
                <div class="home-pt2-ct-common-title-right">
                    <a href="/Home/TeacherQuery/index">更多详情&gt;&gt;</a>
                </div>
            </div>
            <div class="home-pt2-ct-common-slider">
                <div
                        class="am-slider am-slider-default am-slider-carousel"
                        data-am-flexslider="{itemWidth: 140, itemMargin: 5, move: 1, controlNav: false, pauseOnHover: true, slideshowSpeed: 2000, }">
                    <!--自动滚动slideshow: true,取消创建控制点controlNav: false-->
                    <ul class="am-slides">
                        <!--模板输出-->
                        <!--<volist name="teacher" id="vo">-->
                            <!--<li><img src="{$vo.picture}" /><p>{$vo.tname}</p></li>-->
                        <!--</volist>-->
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>                         <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="home-pt4-ct-pt2">
            <div class="home-pt2-ct-common-title home-pt4-ct-title-noborder">
                <div class="home-pt2-ct-common-title-left home-pt4-ct-pt2-title-border">
                    <h1>考生列表</h1>
                    <p>Examinee list</p>
                </div>
                <!--<div class="home-pt2-ct-common-title-right">-->
                    <!--<a href="/Home/StudentQuery/index">更多详情&gt;&gt;</a>-->
                <!--</div>-->
            </div>
            <div class="home-pt2-ct-common-slider">
                <div
                        class="am-slider am-slider-default am-slider-carousel"
                        data-am-flexslider="{itemWidth: 140, itemMargin: 5, move: 1, controlNav: false, pauseOnHover: true, slideshowSpeed: 2000, }">
                    <!--自动滚动slideshow: true,取消创建控制点controlNav: false-->
                    <ul class="am-slides">
                        <!--模板赋值-->
                        <!--<volist name="student" id="vo">-->
                            <!--<li><img src="{$vo.picture}" /><p>{$vo.sname}</p></li>-->
                        <!--</volist>-->
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>郑洁</p></li>
                        <li><img src="/Public/Home/images/home/people03.jpg" /><p>郑赛赛</p></li>
                        <li><img src="/Public/Home/images/home/people04.jpg" /><p>彭帅</p></li>
                        <li><img src="/Public/Home/images/home/people05.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people01.jpg" /><p>李娜</p></li>
                        <li><img src="/Public/Home/images/home/people02.jpg" /><p>李娜</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</block>