<extend name="Public:base" />
<block name="body">


        <div class="tpl-content-wrapper" style="margin:0 20px">
            <div class="tpl-content-page-title">
                新增站长
            </div>
            <ol class="am-breadcrumb">
                <li><a href="/Admin/Index/index" class="am-icon-home">首页</a></li>
                <li class="am-active">新增站长</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 新增站长
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form" method="post" action="/Admin/Master/add" enctype="multipart/form-data">
                                <!-- <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">考点</label>
                                    <div class="am-u-sm-9">
                                        <select name="pid" data-am-selected="{searchBox: 1}">
                                          <option>请选择考点</option>
                                          <option value="1">洪山区考点</option>
                                          <option value="2">武昌区考点</option>
                                          <option value="3">江夏区考点</option>
                                          <option value="4">开发区考点</option>
                                          <option value="5">南湖区考点</option>
                                          <option value="">敬请期待</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">站长</label>
                                <div class="am-u-sm-9">
                                    <select style="display: inline-block;width: 30%" class="am-radius" data-am-selected="{maxHeight: 300}" name="province">
                                        <option value="{$list.province}">{$list.provinceName}</option>
                                        <volist name="province" id="vo">
                                            <option value="{$vo.code}">{$vo.name}</option>
                                        </volist>

                                    </select>
                                    <select style="display: inline-block;width: 30%" class="am-radius" data-am-selected="{maxHeight: 300}" name="city">
                                        <option value="{$list.city}" class="my-input-place">{$list.cityName}</option>
                                        <volist name="arrCity" id="vo">
                                            <option value="{$vo.code}">{$vo.name}</option>
                                        </volist>
                                    </select>
                                    <select style="display: inline-block;width: 30%" class="am-radius" data-am-selected="{maxHeight: 300}" name="area">
                                        <option value="{$list.area}" class="my-input-place">{$list.areaName}</option>
                                        <volist name="arrArea" id="vo">
                                            <option value="{$vo.code}">{$vo.name}</option>
                                        </volist>
                                    </select>
                                    <!-- <input style="margin-top: 10px;" type="text" name="address" value="{$list.address}"  id="address"  class="am-form-field am-radius" placeholder="请输入考点详细地址" /> -->
                                </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">站长名称</label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="master_name" class="tpl-form-input" id="user-name" placeholder="请填写站长登录名">
                                    </div>
                                </div>

                                <input type="hidden" name="status" value="0">

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                                        <a href="" onclick="javascript:history.go(-1);return false;"><button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-warning ">返回</button></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>