<extend name="Public:base" />
<block name="body">


 <div class="tpl-content-wrapper" style="margin:0 20px">
            <div class="tpl-content-page-title">
                Amaze UI 证书查询列表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">Amaze UI CSS</a></li>
                <li class="am-active">证书查询列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 证书查询列表
                    </div>
                    <!-- <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div> -->


                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6" style="width:20%;">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="/Admin/Grade/add" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                   <!--  <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                                    <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button> -->
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3"style="width:20%;">
                            <div class="am-form-group">
                             <select data-am-selected="{btnSize: 'sm'}" name="level"> 
				                <option value="option1">请选择等级</option>
				                <option value="全国青少年二级">全国青少年二级</option>
				                <option value="华东地区一级">华东地区一级</option>
				                <option value="华北地区三级">华北地区三级</option>
				                
				            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-form-group">
                             <select data-am-selected="{btnSize: 'sm'}" name="status"> 
				                <option value="option1">请选择状态</option>
				                <option value="0">未通过</option>
				                <option value="1">已通过</option>
				                <option value="2">审核中</option>
				                
				            </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-3">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" name="score"  placeholder="请输入成绩">
                                <span class="am-input-group-btn">
					              <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="button"></button>
					            </span>
			                </div>
			            </div>
                  </div>
		          <div class="am-g">
		              <div class="am-u-sm-12">
		                  <form class="am-form">
		                      <table class="am-table am-table-striped am-table-hover table-main">
		                          <thead>
		                              <tr>
		                                
		                                  <th class="table-id">ID</th>
		                                  
		                                  <th class="table-id">成绩</th>
		                                  <th class="table-type">等级</th>
		                                  <th class="table-type">状态</th>
		                                  <th class="table-date am-hide-sm-only">上传时间</th>
		                                  <th class="table-set">操作</th>
		                              </tr>
		                          </thead>
		                          <tbody>
		                          <volist name="list" id="vo">
		                              <tr>
		                                  
		                                  <td>{$vo.gid}</td>
		                                  
		                                  <td>{$vo.score}</td>
		                                  <td class="am-hide-sm-only">{$vo.level}</td>
		                                  <td class="am-hide-sm-only">
		                                  <eq name="vo.status" value="0">未通过</eq>
		                                  <eq name="vo.status" value="1">已通过</eq>
		                                  <eq name="vo.status" value="2">审核中</eq>
		                                  </td>
		                                  <td class="am-hide-sm-only">{:date('Y-m-d',$vo['create_time'])}</td>
		                                  <td>
		                                      <div class="am-btn-toolbar">
		                                          <div class="am-btn-group am-btn-group-xs">
		                                              <a href="/Admin/Grade/edit?gid={$vo.gid}" class="am-btn am-btn-default am-btn-xs am-text-secondary" style="background-color:#fff;color:#3bb4f2;"><span class="am-icon-pencil-square-o"></span> 修改</a>
		                                            
		                                              <a href="/Admin/Grade/delete?gid={$vo.gid}" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</a>
		                                          </div>
		                                      </div>
		                                  </td>
		                              </tr>
		                              </volist>
		                          </tbody>
		                      </table>
		                      <div class="am-cf">
		                        <div class="am-fr">
		                              <ul class="am-pagination tpl-pagination">
		                                  {$page}
		                              </ul>
		                          </div>
		                      </div>
		                      <hr>
		
		                  </form>
		              </div>
		
		          </div>
		      </div>
		      <div class="tpl-alert"></div>
		  </div>
		</div>




</block>