<extend name="Public:base1" />
<block name="js"></block>
<block name="body">
    <div class="query-common-part1">
                <form class="am-form" action="" method="post">
                    <fieldset>
                        <div class="am-form-group">
                            <label style="width: 200px" for="cretype">证件类型</label>
                            <select name="cretype" class="am-radius" style="display: inline-block;width: 20%;">
                                <option value="1">中国居民身份证</option>
                                <option value="0">其他</option>
                            </select>
                        </div>
                        <div class="am-form-group">
                            <label style="width: 200px" for="sname">姓名</label>
                            <input type="text" name="sname" class="am-radius" style="display: inline-block;width: 30%;" placeholder="请输入姓名">
                        </div>
                        <div class="am-form-group">
                            <label style="width: 200px" for="creid">证件号</label>
                            <input type="text" name="creid" class="am-radius" style="display: inline-block;width: 30%;" placeholder="请输入证件号">
                        </div>
                        <div class="am-form-group">
                            <button type="submit" class="am-btn am-radius query-bt">查询</button>
                        </div>
                    </fieldset>
                </form>
            </div>
</block>
