<extend name="Public:base" />
<block name="js"></block>
<block name="body">
<div class="part1">
    <div class="wrap">
        <div class="top-bg">

        </div>
        <div class="pt1-ct">
            <div class="pt1-ct-pt1">
                <div class="pt1-ct-pt1-ks">考生申请信息</div>
                <div class="pt1-ct-pt1-kg">考官申请信息</div>
                <div class="pt1-ct-pt1-kd">考点申请信息</div>
            </div>
            <div class="pt1-ct-pt2">
                基本信息
                <hr>
                <table>
                    <tr>
                        <td>姓名：小谢</td>
                        <td>性别：男</td>
                        <td>年龄：10</td>
                        <td>出生年月：2007.05.01</td>
                    </tr>
                    <tr>
                        <td>籍贯：福建</td>
                        <td>现所在地：湖北</td>
                        <td>网球等级：TG-R1</td>
                    </tr>
                </table>
            </div>
            <div class="pt1-ct-pt3">
                考试信息
                <hr>
                <table>
                    <tr>
                        <th>级别</th>
                        <th>考点</th>
                        <th>时间</th>
                        <th>状态</th>
                    </tr>
                    <tr>
                        <td>TG-R2</td>
                        <td>珞喻路461</td>
                        <td>2017.10.01</td>
                        <td>2017.10.01</td>
                    </tr>
                    <tr>
                        <td>TG-R1</td>
                        <td>珞喻路461</td>
                        <td>2017.10.01</td>
                        <td>2017.10.01</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</block>