<extend name="Public:base1" />
<block name="css"></block>
<block name="js">
    <script>
         $(document).ready(function () {
             $("iframe").height(747).width(765);
         })
    </script>
</block>
<block name="body">
    <!--<video src="http://player.youku.com/embed/XMzAxODU0NjYxMg=="  width="320" height="240" controls="controls">-->
        <!--Your browser does not support the video tag.-->
    <!--</video>-->
    <!--<embed src="http://player.youku.com/player.php/Type/Folder/Fid/22127316/Ob/1/sid/XNjk1MDUyNzU2/v.swf"-->

           <!--quality="high" width="500" height="440" align="center" allowScriptAccess="always" allowFullScreen="true" mode="transparent" type="application/x-shockwave-flash"></embed>-->
    <!--<iframe height=498 width=510 src='http://player.youku.com/embed/XMzAxODU0NjYxMg==' frameborder=0 'allowfullscreen'></iframe>-->
    <!--<iframe height='375' width='500' src='http://player.youku.com/embed/XMzAxODU0NjYxMg==' frameborder=0 allowfullscreen></iframe>-->
    <div class="video-describe">
        <h4>湖北省xxx考点考试视频全记录</h4>
        <small>发布时间：2017-10-10</small>
    </div>
    <div class="video-play">
        <iframe height=498 width=510 src='http://player.youku.com/embed/XMzEzMDkwMTEyOA==' frameborder=0 allowfullscreen></iframe>
        <!--<iframe height=498 width=510 src='http://player.youku.com/embed/XMzExODUzMTM3Mg==' frameborder=0 'allowfullscreen'></iframe>-->
    </div>
</block>