<extend name="Public:base1" />
<block name="js"></block>
<block name="body">
    <div class="place-intro padding-5-8">
        <div class="place-intro-name">
            <p>{$list.pnama}</p>
           <!--<p>考点名称：武汉体育学院网球俱乐部</p>-->
        </div>
        <div class="place-intro-content">
            <p>{$list.pintro}</p>
            <!--<p>考点介绍：武汉XX网球俱乐部成立于09年。在武昌、汉口、汉阳常年定点培训上课。网球是一项绅士、易学、不限制年龄的运动。</p>-->
        </div>
        <div class="place-intro-address">
            <p>{$list.address}</p>
            <!--<p>考点地址：武汉市珞喻路武汉体育学院</p>-->
        </div>
        <div class="place-intro-img">
            <volist name="picture" id="vo">
                <img src="{$vo}" alt="">
            </volist>
            <!--<img src="/Public/Home/images/common/place01.jpg" alt="">-->
        </div>
    </div>
</block>