<extend name="Public:base" />
<block name="js"></block>
<block name="body">
    <div class="common-part1">
        <div class="wrap1">
            <div class="common-top-bg">
                <img src="/Public/Home/images/user/top_bg.png" alt="">
            </div>
        </div>
        <div class="wrap2">
            <div class="query-common-part1">
                <div class="query-common-pt1-ct">
                    <div class="query-common-pt1-ct-pt1">
                        <form class="am-form" action="" method="post">
                            <fieldset>
                                <div class="am-form-group query-group">
                                    <div class="form-input-box1">
                                        <select style="display: inline-block;width: 15%" class="am-radius" name="province">
                                            <option value="省份">选择省份</option>
                                            <volist name="province" id="vo">
                                                <option value="{$vo.code}">{$vo.name}</option>
                                            </volist>
                                        </select>
                                        <select style="display: inline-block;width: 15%" class="am-radius" name="city">
                                            <option value="市" class="my-input-place">选择市</option>
                                        </select>
                                        <select style="display: inline-block;width: 15%" class="am-radius" name="area">
                                            <option value="区" class="my-input-place">选择区</option>
                                        </select>
                                        <input style="width: 20%;padding-right: 33px;display: inline-block;float: right;" type="text" placeholder="查询考点名称" class="am-form-field am-radius">
                                        <img class="search-img" src="/Public/Home/images/common/search.png" alt="">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="query-place-pt1-ct-pt2 query-common">
                    <ul>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place01.jpg" alt="">
                            </a>
                            <p>洪山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place02.jpg" alt="">
                            </a>
                            <p>青山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place03.jpg" alt="">
                            </a>
                            <p>蔡甸区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place04.jpg" alt="">
                            </a>
                            <p>黄陂区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place01.jpg" alt="">
                            </a>
                            <p>洪山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place02.jpg" alt="">
                            </a>
                            <p>青山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place03.jpg" alt="">
                            </a>
                            <p>蔡甸区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place04.jpg" alt="">
                            </a>
                            <p>黄陂区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place01.jpg" alt="">
                            </a>
                            <p>洪山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place02.jpg" alt="">
                            </a>
                            <p>青山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place03.jpg" alt="">
                            </a>
                            <p>蔡甸区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place04.jpg" alt="">
                            </a>
                            <p>黄陂区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place01.jpg" alt="">
                            </a>
                            <p>洪山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place02.jpg" alt="">
                            </a>
                            <p>青山区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place03.jpg" alt="">
                            </a>
                            <p>蔡甸区乒乓球俱乐部</p>
                        </li>
                        <li>
                            <a href="">
                                <img src="/Public/Home/images/common/place04.jpg" alt="">
                            </a>
                            <p>黄陂区乒乓球俱乐部</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
