body{
    background-color: #d9a4ed;
    font-size: 18px;
    font-family:微软雅黑;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus {
    text-decoration: none
}
li{
    list-style-type: none;
}
.common-part1{
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
}
.common-top-bg{
    display: inline-block;
    width: 1275px;
    height: 118px;
    position: absolute;
    top: -18px;
    z-index: 100;
    background: url("/Public/Home/images/user/top_bg.png");
    background-size: 1275px 118px;
}
.wrap1{
    height: 118px;
    width: 1275px;
    margin:0 auto;
}
.wrap2{
    width: 1218px;
    position: relative;
    top: -112px;
    margin:0 auto;
    z-index: 200;
    background-color: #fff;
}
/*header start*/
.header-part1{
    padding:10px 0;
}
.wrap{
    width: 1200px;
    position: relative;
    margin:0 auto;
}
.header{
    width: 100%;
    background-color: #fff;
}
.h-p1-left{
    display: inline-block;
}
.h-p1-right{
    display: inline-block;
}
.h-p1-right ul{
    display: inline-block;
    /*background-color: #d9a4ed;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin:0 30px;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    /*-webkit-box-shadow: 3px 6px 6px #957d9e;*/
    /*-moz-box-shadow:3px 6px 6px #957d9e;*/
    /*box-shadow: 3px 6px 6px #957d9e;*/
}

.h-p1-right li{
    display: inline-block;
    list-style-type: none;
    font-size:20px;
    padding:0 10px;
}
.h-p1-right button{
    display: inline-block;
}
.header-part2{
    width: 100%;
}
.header-part2 img{
    width: 100%;
    min-width: 1200px;
}
/*header end*/

/*footer start*/
.footer{
    /*预留170px的margin-top让头部和尾部撑满整个屏幕*/
    margin-top: 170px;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
}
.footer-part{
    width: 1200px;
    margin:0 auto;
    padding: 20px 0;
    text-align: center;
}
.footer-part ul{
    margin:0;
    padding:0;
}
.footer-part li{
    display: inline-block;
    margin:0 40px;
    margin-bottom: 20px;
}
/*footer end*/

/*user start*/
.user-pt1-ct{
    padding: 96px 83px;
}
.user-pt1-ct p{
    font-size: 20px;
}
.user-pt1-ct-pt1{
    margin-bottom: 30px;
}
.user-pt1-ct-pt1-common{
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    width: 200px;
    height: 70px;
    background-color: #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}
.kg-pay-status{
    padding:5px 15px;
    text-align: center;
    background-color: #5dcd9f;
    cursor: pointer;
}
.user-pt1-ct-pt2 a{
    font-size: 1.3rem;
    float: right;
    margin-right: 165px;
}
/*user end*/

/*Student start*/
.student-pt1-ct{
    padding:50px 140px;
    box-shadow:2px 6px 10px gray;
    border-radius: 0 0 5px 5px ;
}
.student-pt1-ct-pt1{
    text-align: center;
}
.student-pt1-ct-pt1 p{
    margin:0;
    font-size: 20px;
    line-height: 10px;
}
.p-line{
    width: 25%;
}
.ks-gz{
    float: right;
}
.ks-gz img{
    vertical-align: middle;
}
.ks-gz a{
    vertical-align: middle;
    text-decoration: underline;
    color: #d9a4ed;
}
.student-pt1-ct-pt2{
    margin-top: 60px;
}
.student-pt1-ct-pt2 li{
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
}
.student-pt1-ct-pt2 li img{
    width: 120%;
}
.student-pt1-ct-pt2 ul{
    padding-left: 0;
}
.common-ball{
    display: inline-block;
}
.yellow-ball-part p{
    margin-top: 30px;
}
.student-pt1-ct-pt3{
    padding:0 100px;
}
.student-pt1-ct-pt3 p{
    margin-top: 20px;
    text-align: right;
}
.student-pt1-ct-pt3 label span{
    color: #ff0000;
}
.am-form-group{
    position: relative;
}
.form-input-box{
    display: inline-block;
    position: absolute;
    left:220px;
}
.am-form-group{
    padding-top: 10px;
}
.input-width-01{
    width: 350px;
}
.input-width-02{
    width: 80px;
}
.input-width-03{
    width: 150px;
}
.input-width-04{
    width: 500px;
}
.form-input-picture{
    margin-top: -10px;
}
.tpl-form-file-img{
    margin-top: 10px;
}

.my-bt-check{
    float: right;
    border-radius: 5px;
    background-color: #d9a4ed;
    outline: none;
}
.student-pt1-ct-pt4{
    margin-top: 40px;
    text-align: center;
}
.i-agree-a{
    text-decoration: underline;
    color: #d9a4ed;
    cursor: pointer;
}
.i-agree-a:hover{
    text-decoration: underline;
    color: #d9a4ed;
}
.my-bt-submit{
    margin-top: 20px;
    background-color: darkgray;
    width: 300px;
    color: #FFFFFF;
}
/*Student end*/

/*Place start*/
.picture-box-place-father{
    display: inline-block;
    position: absolute;
    left: 220px;
}
.picture-box-place{
    margin-top: -10px;
    display: inline-block;
}
/*.circle-number{*/
    /*display: inline-block;*/
    /*width: 1.2rem;*/
    /*height: 1.2rem;*/
    /*border-radius: 2.4rem;*/
    /*border:0.1rem solid #FFFFFF;*/
/*}*/
/*Place end*/