/*当浏览器宽度小于等于1400时隐藏主页中的微信二维码*/
@media screen and (max-width: 1400px){
    .home-pt2-ct-pt3{
        display: none;
    }
}
body {
    background-color: #d9a4ed;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus {
    text-decoration: none
}
li{
    list-style-type: none;
}

#login_container{
    position: fixed;
    top: 20%;
    z-index: 1200;
    background-color: #d9a4ed;
    border:1px solid rgba(245,245,245,0.23);
    box-shadow: 6px 6px 10px gray;
    /*border:1px solid #d6e9c6;*/

}
/*.my-a-bt{*/
    /*font-size: 16px;*/
    /*color: #FFFFFF;*/
    /*display: inline-block;*/
    /*background: #F37B1D;*/
    /*text-align: center;*/
    /*padding:1px 5px;*/
/*}*/
.my-a-bt:hover{
    color: #FFFFFF;
}
.padding-7-8{
    padding:70px 80px;
}
.padding-8-9{
    padding:80px 90px;
}
.padding-9-8{
    padding:90px 80px;
}
.padding-5-8{
    padding: 50px 80px;
}
.padding-0-8{
    padding:0 80px 70px 80px;
}
.check-alert{
    border-radius: 5px;
    text-align: center;
    background-color: rgba(221,51,76,0.8);
    border-color: #dd514c;
    width: 500px;
    height: 50px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:500;
}
.close-bt{
    display: inline-block;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
}
.common-part1{
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
}
.common-top-bg{
    display: inline-block;
    width: 1000px;
    height: 118px;
    position: absolute;
    top: -18px;
    z-index: 100;
    /*background: url("/Public/Home/images/user/top_bg.png");*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
}
.common-top-bg img{
    width:100%;
    height:100%;
}
.common-pt1-ct-pt1{
    text-align: center;
}
.common-pt1-ct-pt1 p{
    margin:0;
    font-size: 20px;
    line-height: 10px;
}
.p-line{
    width: 25%;
}
.wrap{
    width: 1000px;
    position: relative;
    margin:0 auto;
}
.wrap1{
    height: 118px;
    width: 1000px;
    margin:0 auto;
}
.wrap2{
    width: 954px;
    min-height: 800px;
    position: relative;
    top: -112px;
    margin:0 auto;
    z-index: 200;
    background-color: #fff;
    box-shadow:2px 6px 10px gray;
    border-radius: 0 0 5px 5px ;
}

.width-full{
    width:100%;
    margin:0 auto;
}
/*header start*/
.header-part1{
    padding:10px 0;
    background-color: #fff;
}

.center-container{
    width:100%;
    margin:0 auto;
}
.header{
    width: 100%;
    background-color: #d9a4ed;
}
.header-part1-center{
    text-align: center;
}
.h-p1-left{
    display: inline-block;
    width: 18%;

}
.h-p1-left img{
    width: 100%;
}
.h-p1-right{
    display: inline-block;
    width: 80%;
}
#login,#personal-center{
    border-radius: 5px;
}
#personal-center{
    position: relative;
}
.h-p1-right button a{
    color: #FFFFFF;
}
.login-out{
    display: none;
    width:80px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    top: 44px;
    right: 11px;
}
.h-p1-right ul{
    display: inline-block;
    /*background-color: #d9a4ed;*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle;
    margin:0 10px;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    /*-webkit-box-shadow: 3px 6px 6px #957d9e;*/
    /*-moz-box-shadow:3px 6px 6px #957d9e;*/
    /*box-shadow: 3px 6px 6px #957d9e;*/
}

.h-p1-right li{
    display: inline-block;
    list-style-type: none;
    font-size:20px;
    padding:0 5px;
}
.h-p1-right button{
    display: inline-block;
    outline-color: #FFFFFF;
}
.header-part2{
    width: 100%;
}
.header-part2 img{
    width: 100%;
    /*min-width: 1200px;*/
}
#intro-a{
    position: relative;
}
.intro{
    color: #0e90d2;
    display: none;
    background-color: #d9a4ed;
    width: 110%;
    padding: 5% 0;
    position: absolute;
    top: 100%;
    left: -4%;
    z-index:500;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 -1px 5px gray;
}
.arrow{
    position: absolute;
    margin: -14% 0 0 39%;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 10px solid #d9a4ed;
}
.intro ul{
    height: 180px;
    margin:0;
    padding:0;
    padding-bottom: 10px;
}
.intro li{
    font-size: 18px;
    display: block;
    line-height: 30px;
}
.intro li:last-child{
    border:none;
}
/*header end*/

/*footer start*/
.footer{
    /*预留170px的margin-top让头部和尾部撑满整个屏幕*/
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
}
.footer-part{
    width: 1200px;
    margin:0 auto;
    padding: 20px 0;
    text-align: center;
}
.footer-part ul{
    margin:0;
    padding:0;
}
.footer-part li{
    display: inline-block;
    margin:0 40px;
    margin-bottom: 20px;
}
/*footer end*/

/*user start*/
.user-pt1-ct{
    padding: 96px 83px;
}
.user-pt1-ct a{
    color: #FFFFFF;
}
.user-pt1-ct p{
    font-size: 20px;
}
.user-pt1-ct button{
    color: #FFFFFF;
}
.user-pt1-ct table button{
    margin-top: -5px;
}
.user-pt1-ct-pt1{
    margin-bottom: 30px;
}
.user-pt1-ct-pt1-common{
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 16px;
    width: 200px;
    height: 70px;
    background-color: #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}
.kg-pay-status{
    padding:5px 15px;
    text-align: center;
    background-color: #5dcd9f;
    cursor: pointer;
}
.user-pt1-ct-pt2 a{
    font-size: 1.3rem;
    float: right;
}
/*user end*/

/*Student start*/
.selected-img{
    width: 35px;
    height:35px;
    position: absolute;
    top: 50px;
    left: 13px;
}
.student-pt1-ct{
    padding:50px 50px;
}

.ks-gz{
    float: right;
}
.ks-gz img{
    vertical-align: middle;
}
.ks-gz a{
    vertical-align: middle;
    text-decoration: underline;
    color: #d9a4ed;
}
.student-pt1-ct-pt2{
    margin-top: 60px;
}
.student-pt1-ct-pt2 li{
    position: relative;
    display: inline-block;
    padding-right: 40px;
    cursor: pointer;
}
.ball{
    width: 120%;
}
.student-pt1-ct-pt2 ul{
    padding-left: 0;
}
.common-ball{
    display: inline-block;
}
.yellow-ball-part p{
    margin-top: 30px;
}
.student-pt1-ct-pt3{
    padding:0 100px;
}
.student-pt1-ct-pt3 p{
    margin-top: 20px;
    text-align: right;
}
.student-pt1-ct-pt3 label span{
    color: #ff0000;
}
.am-form-group{
    position: relative;
}
.form-input-box{
    display: inline-block;
    position: absolute;
    left:220px;
}
.am-form-group{
    padding-top: 10px;
}
.input-width-01{
    width: 350px;
}
.input-width-02{
    width: 80px;
}
.input-width-03{
    width: 150px;
}
.input-width-04{
    width: 500px;
}
.form-input-picture{
    margin-top: -10px;
}
.tpl-form-file-img{
    margin-top: 10px;
}

.my-bt-check{
    float: right;
    border-radius: 5px;
    background-color: #d9a4ed;
    outline: none;
}
.student-pt1-ct-pt4{
    margin-top: 40px;
    text-align: center;
}
.i-agree-a{
    text-decoration: underline;
    color: #d9a4ed;
    cursor: pointer;
}
.i-agree-a:hover{
    text-decoration: underline;
    color: #d9a4ed;
}
.my-bt-submit{
    margin-top: 20px;
    background-color: darkgray;
    width: 300px;
    color: #FFFFFF;
}
/*Student end*/

/*Place start*/
.picture-box-place-father{
    display: inline-block;
    position: absolute;
    left: 220px;
}
.picture-box-place{
    margin-top: -10px;
    display: inline-block;
}
/*.circle-number{*/
    /*display: inline-block;*/
    /*width: 1.2rem;*/
    /*height: 1.2rem;*/
    /*border-radius: 2.4rem;*/
    /*border:0.1rem solid #FFFFFF;*/
/*}*/
/*Place end*/

/*intro Start*/

.intro-pt1-ct-pt2{
    /*padding-top: 80px;*/
}
/*intro End*/

/*home Start*/
.home-pt1{
    background-color: #d9a4ed;
}
.home-pt1-ct{
    padding:20px 90px;
}
.home-pt1-ct-pt1 img{
    width: 35px;
    height: 35px;
    margin-right: 8px;
}
.home-pt1-ct-pt1 a{
    font-size: 20px;
    color: #FFFFFF;
    font-weight:bold;
}
.home-pt1-ct-pt1 ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
.home-pt1-ct-pt1 li{
    display: inline-block;
    padding-right: 130px;
    padding-left: 51px;
    border-right:1px solid #FFFFFF;
}
.home-pt2{
    background-color: #FFFFFF;
}
.home-pt2-ct{
    padding:58px 0;
}
.home-pt2-ct-pt1,.home-pt2-ct-pt2{
    display: inline-block;
    width: 48%;
}
.home-pt2-ct-pt1{
    /*padding-right: 8px;*/
    /*margin-left: 70px;*/
    margin-right: 8px;
}
.home-pt2-ct-common-title{
    border-bottom:1px solid #000000;
    padding: 10px 0;
}
.home-pt2-ct-common-title-left,.home-pt2-ct-common-title-right{
    display: inline-block;
}
.home-pt2-ct-common-title-left h1{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:0;
}
.home-pt2-ct-common-title-left{
    padding-left: 8px;
    line-height: 18px;
}
.home-pt2-ct-pt1-title-border{
    border-left:8px solid #8bc34a;
}
.home-pt2-ct-pt2-title-border{
    border-left:8px solid #ff7864;
}
.home-pt2-ct-common-title-left p{
    font-size: 12px;
    margin:0;
}
.home-pt2-ct-common-title-right{
    float: right;
}
.home-pt2-ct-common-title-right a{
    font-size: 12px;
    padding:4px 14px;
    color: gray;
    display: inline-block;
    border:1px solid gray;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.home-pt2-ct-common-list{
    padding-right: 10px;
    font-size: 16px;
}
.home-pt2-ct-common-list ul{
    padding-left: 10px;
}
.home-pt2-ct-common-list li{
    overflow: hidden;
    padding:5px 0;
    border-bottom:1px dashed #000000;
}
.home-pt2-ct-common-list a{
    color: #505050;
}
.home-pt2-ct-common-list p{
    width: 80%;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;

}
/*.home-pt2-ct-pt2-list-p p{*/
    /*width: 380px;*/
    /*display: inline-block;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*-ms-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*white-space:nowrap;*/
/*}*/
.home-pt2-ct-common-span{
    width: 20%;
    display: inline-block;
    float: right;
    color: #808080;
}
/*absolute布局*/
/*.home-pt2-ct-pt3{*/
    /*text-align: center;*/
    /*width: 150px;*/
    /*position: absolute;*/
    /*right: -138px;*/
    /*top:60px;*/
/*}*/
/*fixed布局*/
.home-pt2-ct-pt3{
    text-align: center;
    width: 150px;
    position: fixed;
    right: 0px;
    top:300px;
    z-index:1000;
}
.home-pt2-ct-pt3-common{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding:5px 10px;
    background-color: #d9a4ed;
}
.home-pt2-ct-pt3-common a{
    color: #FFFFFF;
}
.home-pt2-ct-pt3-erweima{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #d9a4ed;
    border:1px solid rgba(245,245,245,0.23);
}
.home-pt2-ct-pt3-erweima span{
    display: inline-block;
    margin-top: 8px;
    padding: 0 10px;
    border-top:1px solid gray;
    color: #505050;
}
.home-pt2-ct-pt3-common img{
    width: 30px;
    height: 30px;
}
.home-pt2-ct-pt3-erweima-box{
    border-radius: 10px;
    overflow: hidden;
}
.home-pt2-ct-pt3-erweima img{
    width:140px;
    height: 140px;
}

.home-pt3{
    background-color: #c695dc;

}
.home-pt3-ct{
    padding:50px 0;
    text-align: center;
}
.home-pt3-ct-pt1 img{
    width:70%;
}
.home-pt3-ct-pt2-common{
    display: inline-block;
    margin-top: 40px;
    background-color: #fff;
    width: 48%;
}
.home-pt3-ct-pt2-common img{
    width: 100%;
    height: 65%;
}
.home-pt3-ct-pt2-common h1{
    margin-bottom: 0;
}
.home-pt3-ct-pt2-video{
    margin-right: 1%;
}
.home-pt3-ct h1{
    font-size: 24px;
    font-weight:400;
}
.home-pt3-ct a{
    color: #000;
}
.home-pt3-ct p{
    margin-top: 0;
}
.home-pt4{
    background-color: #fff;
}
.home-pt4-ct{
    padding: 40px 0;
}
.home-pt4-ct-title-noborder{
    border:none;
}
/*多图滚动的样式*/
/*.am-control-thumbs li {*/
    /*width: 12.5%; !* 100%/n ,n为轮播图数量 *!*/
/*}*/
.home-pt2-ct-common-slider{
    text-align: center;
}
/*.home-pt2-ct-common-slider img{*/
    /*width: 125px;*/
    /*height: 166px;*/
/*}*/
/*多图滚动的样式*/
/*.am-slider-carousel li {*/
    /*margin-right: 5px;*/
/*}*/
.home-pt4-ct-pt1-title-border{
    border-left: 8px solid #ffe367;
}
.home-pt4-ct-pt2-title-border{
    border-left: 8px solid #678bff;
}
/*home End*/

/*News Strat*/
.News-pt1-ct{
    padding: 0 180px;
    padding-bottom: 80px;
}
.News-pt1-ct-pt2{
    color: #505050;
    /*padding: 60px 0;*/
    padding-top: 30px;
}
.News-pt1-ct-pt2 li{
    position: relative;
    border-bottom:1px dashed #808080;
    padding-top: 40px;
    padding-right: 120px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.News-pt1-ct-pt2 li::before{
    content: "●";
    color: #ca98df;
}
.News-pt1-ct-pt2 li a{
    color: #505050;
    width: 70%;
}
.News-pt1-ct-pt2 li span{
    display: inline-block;
    position: absolute;
    right: 0;
}

.content-content-pt1-ct-pt2-header-top p::before{
    content: '●';
    color: #ca98df;
}
.content-content-pt1-ct-pt2-header-top{
    border-bottom: 1px dashed #505050;
    padding-bottom: 5px;
}
.content-content-pt1-ct-pt2-header-top p{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.content-content-pt1-ct-pt2-header-top a{
    display: table-cell;
    height: 30px;
    width: 92px;
    color: #505050;
    line-height: 30px;
    float: right;
    vertical-align: middle;
}
.content-content-pt1-ct-pt2-header-top a:hover{
    color: #505050;
}
.content-content-pt1-ct-pt2-header-top img{
    width: 20px;
    height: 20px;
    margin-top: -5px;
}
.content-pt1-ct-pt2-header-bottom{
    margin-bottom: 30px;
}
.content-pt1-ct-pt2-header-bottom span{
    padding-left: 10px;
}
.content-pt1-ct-pt2-content{
    padding-bottom: 40px;
}
.content-pt1-ct-pt2-footer a{
    color: #505050;
    display: inline-block;
    float: right;
    padding: 4px 20px;
    text-align: center;
    border:1px solid grey;
    border-radius: 20px;
}
.content-pt1-ct-pt2-footer a:hover{
    color: #505050;
}
/*News End*/
/*live Start*/
/*.live-pt1-ct-pt2{*/
    /*margin-top: 40px;*/
/*}*/
.live-pt1-ct-pt2 ul{
    margin: 0;
    padding: 0;
}
.live-pt1-ct-pt2 li{
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    overflow: hidden;
}
.live-pt1-ct-pt2 img{
    width: 200px;
    height: 150px;
    /*border:1px solid #505050;*/
}
.live-pt1-ct-pt2 p{
    font-size: 14px;
    width: 250px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*live End*/

/*query Start*/
.query-common-part1{
    padding: 50px 50px;
    min-height: 600px;
}
.query-group{
    position: relative;
}
.form-input-box1{
    width: 100%;
}
.search-img{
    width: 26px;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 17px;
}

.query-common li{
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}
.query-place-pt1-ct-pt2 img{
    width: 230px;
    height: 150px;
}
#place-insert img{
    width: 230px;
    height: 150px;
}
.query-common p{
    font-size: 14px;
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.query-bt{
    width: 200px;
    background-color: #d9a4ed;
}
.query-common-pt2-ct{
    text-align: center;
}
#teacher-insert img{
    width: 170px;
    height: 162px;
    padding:0 20px;
}

#teacher-insert p{
    overflow: hidden;
    width: 170px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#teacher-insert h4{
    margin: 10px 0;
    font-weight: 400;

}
#insert-certificate{
    text-align: center;
}
#insert-certificate img{
    width: 600px;
    height: 400px;
}
/*query End*/


.teacher-intro-name,.teacher-intro-img{
    text-align: center;
}
.teacher-intro-img{
    margin-bottom: 20px;
}
.teacher-intro-img img{
    width: 160px;
    height: 200px;
}
.teacher-intro-content{
    padding:0 80px;
}
.teacher-intro-content p{
    text-indent: 2em;
}
.teacher--intro-certificate p{
    color: #d9a4ed;
}
.teacher-certificate-img img{
    display: inline-block;
    padding-top: 40px;
    width: 794px;
    height:auto;
}
.place-intro-img{
    margin-top: 40px;
}
.place-intro-img img{
    width: 794px;
    height: auto;
}