<extend name="Public:base" />
<block name="body">
<script type="text/javascript">  

var InterValObj; //timer变量，控制时间  
var count = 90; //间隔函数，1秒执行  
var curCount;//当前剩余秒数  
  
function sendMessage() {  
	// 判断数据是否为空
     var mobile = $("input[name='phone']").val();

     if(mobile == ""){
    	 alert("手机号码不能为空！");
    	 return false;
     }
	
  　curCount = count;  
　　//设置button效果，开始计时  
     $("#btnSendCode").attr("disabled", "true");  
     $("#btnSendCode").val(curCount + " S");  
     InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次  
　　  //向后台发送处理数据  
     
     $.ajax({  
	     　　type: "POST", //用POST方式传输  
	     　　dataType: "json", //数据格式:JSON  
	     　　url: '/Admin/Live/sendSMS', //目标地址  
	    　　 data: {mobile:mobile},  
	    　　 error: function (XMLHttpRequest, textStatus, errorThrown) { },  
	     　　success: function (msg){ 
	    	 	 console.log(msg);
	    	 	/*  console.log(msg.smsCode); */
		    	 /* if(msg.code == 0){ */
		    		 $("input[name='check']").val(msg.smsCode);
		    	 /* } */
	     　　}  
     });  
}  

	//timer处理函数  
	function SetRemainTime() {  
        if (curCount == 0) {                  
            window.clearInterval(InterValObj);//停止计时器  
            $("#btnSendCode").removeAttr("disabled");//启用按钮  
            $("#btnSendCode").val("获取验证码");  
        }  
        else {  
            curCount--;  
            $("#btnSendCode").val(curCount + " S");  
        }  
    }  
	
	$(document).ready(function(){
	   $("#J-Submit").on('click',function(){
		  /*   var check = $("input[name='check']").val(); */
			var smsCode = $("input[name='smsCode']").val();
			if($("input[name='phone']").val() == ""){
				alert("请输入手机号");return false;
			}else if(smsCode == ""){
				 alert("请输入验证码");
			}else{
				 $("#validStudents").submit();
			}
	    })
	})
</script> 
<form style="margin:8px" action="/Admin/Live/message" method="post" id="validStudents">
 <div class="weui_cell" style="padding:8px;">
    <div class="weui_cell_hd">
      <lab el class="weui_label" style="width:65px;">手机号：</label>
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="tel" id="tell" name="phone" placeholder="请输入手机号">
    </div>
  </div>
 <div class="weui_cell" style="padding:8px;">
    <div class="weui_cell_hd">
      <label class="weui_label" style="width:65px;">验证码：</label>
    </div>
    <div class="weui_cell_bd weui_cell_primary">
      <input class="weui_input" type="tel" id="certifycode" name="smsCode" placeholder="请输入验证码">
    </div>
    <div class="weui_cell_ft"> 
    <input name="check" value="" type="hidden">
    
    <input id="btnSendCode" style="width:117px;" type="button" class="weui_btn weui_btn weui_btn_mini weui_btn_primary" value="获取验证码"  onclick="sendMessage()"/>  </div>
  </div>
<input name="check" value="" type="hidden">
<div class="weui_btn_area" style="margin-top:80px"> <a class="weui_btn weui_btn_primary"  id="J-Submit">提交</a> </div>
</form>
</block>