<extend name="Public:base" />
<block name="body">


        <div class="tpl-content-wrapper" style="margin:0 20px">
            <div class="tpl-content-page-title">
                                                考点信息修改页
            </div>
            <ol class="am-breadcrumb">
                <li><a href="/Admin/Index/index" class="am-icon-home">首页</a></li>
                <li class="am-active">申请板块</li>
                <li class="am-active">考点信息修改页</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-font-awesome"></span> 考点信息修改
                    </div>
<!--                     <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div> -->
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="tpl-form-body tpl-form-line">
                            <form class="am-form tpl-form-line-form"  action="/Admin/Place/edit" method="post">
                                <input name="pid" type="hidden"  value="{$list.pid}" >
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label">考点名称 <span class="tpl-form-line-small-title">Pname</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="tpl-form-input" name="pname"  value="{$list.pname}" placeholder="请输入考点名称">
                                    </div>
                                </div>

<!--                                 <div class="am-form-group">
                                    <label for="user-email" class="am-u-sm-3 am-form-label">负责人<span class="tpl-form-line-small-title">Manager</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" class="am-form-field tpl-form-no-bg" placeholder="请输入负责人" data-am-datepicker="" readonly/>
                                        <small>请填写负责人的名字</small>
                                    </div>
                                </div> -->
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">负责人<span class="tpl-form-line-small-title">Manager</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="manager"  value="{$list.manager}" placeholder="请输入负责人名称">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-3 am-form-label">考点地址 <span class="tpl-form-line-small-title">Address</span></label>
                                    <div class="am-u-sm-9">
                                        <select data-am-selected="{searchBox: 1}">
										  <option value="a">-The.CC</option>
										  <option value="b">夕风色</option>
										  <option value="o">Orange</option>
										</select>
										<br>
										<input type="text" placeholder="请输入详细地址">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-3 am-form-label">考点具体介绍 <span class="tpl-form-line-small-title">Pintro</span></label>
                                    <div class="am-u-sm-9">
                                        <textarea class="" rows="10" id="user-intro" name="pintro"  value="{$list.pintro}"  placeholder="请输入具体介绍">{$list.pintro|htmlspecialchars_decode|stripslashes}</textarea>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">手机号码<span class="tpl-form-line-small-title">Phone</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="phone"  value="{$list.phone}" placeholder="请输入手机号码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">邮箱 <span class="tpl-form-line-small-title">Email</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="email"  value="{$list.email}"  placeholder="请输入邮箱">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-3 am-form-label">场馆电话<span class="tpl-form-line-small-title">Telephone</span></label>
                                    <div class="am-u-sm-9">
                                        <input type="text" name="telephone"  value="{$list.telephone}"  placeholder="请输入场馆电话">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">场馆图片 <span class="tpl-form-line-small-title">Picture</span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <div class="tpl-form-file-img">
                                                <empty name="list['certificate']">
			                                	<img src="/Public/Admin/images/2.jpg" class="ml50 mt20">
			                                	<else />
												<img src="{$list.certificate}" class="ml50 mt20" style="width:103px;height:107px;">
												<input type="hidden" name="certificate" value="{$list.certificate}">
												</empty>
                                            </div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加场馆图片</button>
                                            <input id="doc-form-file" type="file" name="certificate" multiple>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-3 am-form-label">营业执照 <span class="tpl-form-line-small-title">Certificate</span></label>
                                    <div class="am-u-sm-9">
                                        <div class="am-form-group am-form-file">
                                            <div class="tpl-form-file-img">
                                                <empty name="list['picture']">
			                                	<img src="/Public/Admin/images/2.jpg" class="ml50 mt20">
			                                	<else />
												<img src="{$list.picture}" class="ml50 mt20" style="width:103px;height:107px;">
												<input type="hidden" name="picture" value="{$list.picture}">
												</empty>
                                            </div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                            <i class="am-icon-cloud-upload"></i> 添加营业执照图片</button>
                                            <input id="doc-form-file" type="file" name="picture" multiple>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">修改</button>
                                        <a href=""  class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick ="javascript:history.go(-1);" style="margin-left:20px;">返回</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


</block>