<extend name="Public:base1" />
<block name="js"></block>
<block name="body">
    <div class="News-pt1-ct padding-0-8">
        <!--<div class="common-pt1-ct-pt1">-->
        <!--<p>新闻资讯</p>-->
        <!--<img class="p-line" src="/Public/Home/images/Student/line.jpg" alt="">-->
        <!--<p>News information</p>-->
        <!--</div>-->
        <div class="News-pt1-ct-pt2">
            <div class="News-pt1-ct-pt2-content">
                <ul>

                    <volist name="list" id="vo">
                        <li>
                            <a href="/Home/Notice/content?noid={$vo.noid}">{$vo.title}</a>
                            <span>[{:date('Y-m-d',$vo['create_time'])}]</span>
                        </li>
                    </volist>

                    <!--<li><a href="/Home/News/content">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li><a href="">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li><a href="">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li><a href="">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li><a href="">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<li><a href="">温网男单决赛H2H:费德勒6-1西里奇 去年救3赛点</a>-->
                        <!--<p>-->
                            <!--北京时间7月15日 2017年温网男单半决赛落幕，费德勒和西里奇战胜各自对手，成功会师决赛。两人之前有-->
                            <!--过7次交手，费德勒6胜1负占据上风。最近两次交手，西里奇在2014年美网半决赛三盘完胜，费德勒则是在去-->
                            <!--年温网化解三个赛点逆转过关。-->
                        <!--</p>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>
        <div class="News-pt1-ct-pt3">
            <!--分页-->
            <div class="am-cf">
                <div class="am-fr">
                    <ul class="am-pagination tpl-pagination">
                        {$page}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>